@import "bourbon/bourbon";

// *** *** *** *** ***
// Константы
// *** *** *** *** ***

$modal-lightbox: rgba(33, 33, 33, 0.9);

$preview-controls-wrapper: rgba(25, 25, 25, 0.85);

// Palette
$pl-main-color: #266BB8;
$pl-main-color-bright: #308CED;
$pl-main-color-dimmed-dark: #7F8E99;
$pl-main-color-dimmed: #A1B4C2;
$pl-main-color-light: #B4C9E2;
$pl-main-color-lighter: #E4E9F0;
$pl-main-color-ultra-light: #F1F5F8;

$pl-secondary-color: #A01F43;
$pl-secondary-color-bright:	#ED1651;
$pl-secondary-color-lighter: #F5DEDF;
$pl-secondary-color-ultra-light: #FCF3F4;

$pl-dimmed-color-dark: #666;
$pl-dimmed-color: #999;
$pl-dimmed-color-light: #CCC;

$pl-black: #000;
$pl-white: #FFF;

$pl-tag-green: #4B8D04;
$pl-tag-orange: #FFA21C;
$pl-tag-darkred: #CC2929;

$pl-main-shadow: 0px 3px 5px 1px rgba(71, 102, 119, 0.10), 0px 2px 15px 5px rgba(95, 111, 119, 0.10);

// Layout
$layout-ratio: 1.414;
$layout-max-width: 1700px;
$layout-compact-width: 1050px;

// Layout compact
$layout-frame-small-compact: 160px;

// Layout normal
$layout-frame-small: 220px;
$layout-frame-medium: 100%/(1 + $layout-ratio);
$layout-frame-large: $layout-frame-medium * $layout-ratio;

// Lauout max 
$layout-frame-small-max: 250px;
$layout-frame-medium-max: ($layout-max-width - $layout-frame-small-max)/(1 + $layout-ratio);
$layout-frame-large-max: $layout-frame-medium-max * $layout-ratio;

// Frames
$layout-frame-horizontal-padding: 20px;
$layout-frame-vertical-padding: $layout-frame-horizontal-padding;

// Colors and shadows
$body-bg: $pl-main-color-lighter;

$loader-auth-bg: $pl-white;
$loader-auth-border-color: $pl-main-color-dimmed;
$loader-auth-shadow: $pl-main-shadow;
$loader-auth-user-border-color: $pl-main-color-lighter;

$nav-main-color: $pl-black;
$nav-bg-color: $pl-white;
$nav-border-color: $pl-secondary-color;
$nav-hover-color: $pl-secondary-color;
$nav-hover-bg: $pl-secondary-color-lighter;
$nav-active-color: $pl-secondary-color-bright;
$nav-selected-color: $pl-white;
$nav-selected-bg: $pl-secondary-color;
$nav-logo-color: $pl-secondary-color;

$layout-frame-left-bg: $pl-main-color-lighter;
$layout-frame-middle-bg: $pl-main-color-ultra-light;
$layout-frame-right-bg: $pl-white;

$ui-text-color: $pl-black;
$ui-text-color-night: $pl-white;

$ui-text-color-on-plate: $pl-white;
$ui-text-color-on-plate-night: $pl-black;

$ui-line-selected-text-color: $pl-white;
$ui-line-selected-comment-color: $pl-dimmed-color-light;

$ui-input-color: $pl-black;
$ui-input-bg: $pl-white;
$ui-input-border-color: $pl-main-color-dimmed;
$ui-input-search-hover-border-color: $pl-dimmed-color-light;
$ui-input-search-hover-bg: rgba(255, 255, 255, 0.5);
$ui-input-error-border-color: $pl-secondary-color;

$ui-comment-color: $pl-dimmed-color;
$ui-accent-color: $pl-secondary-color-lighter;

//***

$ui-main-color: $pl-main-color;
$ui-main-color-hover: $pl-secondary-color;
$ui-main-color-plate-hover: $pl-main-color-bright;
$ui-main-color-active: $pl-secondary-color-bright;

$ui-main-color-dimmed: $pl-dimmed-color;

$ui-main-color-night: #BDDDFF;
$ui-main-color-night-hover: #FFE8BF;
$ui-main-color-night-active: #FFF6E5;

$ui-line-selected-color: $pl-white;
$ui-line-selected-bg: $pl-main-color;

$ui-plate-color: $pl-white;
$ui-plate-color-hover: $pl-main-color-light;

$ui-dropdown-border-color: $pl-main-color-dimmed;
$ui-dropdown-shadow: $pl-main-shadow;
$ui-input-shadow: $pl-main-shadow;

$ui-modal-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 2px 15px 5px rgba(0,0,0,0.30), 0px 3px 5px 1px rgba(0,0,0,0.30);

$ui-white-shadow-h: linear-gradient(-180deg, rgba(255, 255, 255, 0.0) 0%, #FFFFFF 100%);

// Line heights
$main-line-height: 24px;
$main-line-vertical-padding: 2px;
$line-vertical-padding: 1px;
$big-title-size-diff: 5px;
$tiny-size-diff: -4px;
$key-line-width: 220px;
$key-line-width-compact: 120px;

// Can't touch this!
$font-line-height: $main-line-height - ($main-line-vertical-padding * 2);
$font-line-height-big-title: $font-line-height + $big-title-size-diff;
$font-line-height-tiny: $font-line-height + $tiny-size-diff;

$line-height: $main-line-height;
$line-height-big-title: $line-height + $big-title-size-diff;
$line-height-tiny: $line-height + $tiny-size-diff;

$main-line-height-big-title: $main-line-height + $big-title-size-diff;
$main-line-height-tiny: $main-line-height + $tiny-size-diff;

$input-height: $main-line-height;
$input-height-big-title: $input-height + $big-title-size-diff;
$input-height-tiny: $input-height + $tiny-size-diff;

//minus border
$button-vertical-padding: $main-line-vertical-padding - 1px;

html, body {
	padding: 0px;
	margin: 0px;
	font-family: $helvetica;
	font-size: 14px;
	line-height: 20px;
	background-color: $pl-main-color-lighter;
}

.z-style-loader-layout {
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
}

.z-style-loader-logo-wrapper {
	@include display(flex);
	height: 33px;
}

.z-style-loader-logo {
	font-weight: bold;
	margin-left: 20px;
	color: $nav-logo-color;	
	@include display(flex);
	@include align-items(center);
}

.z-style-loader-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 33px;
	text-align: center;
	font-size: 12px;
	color: #7F8E99;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}