@import "bourbon/bourbon";
@import "include/normalize";

// *** *** *** *** ***
// Константы
// *** *** *** *** ***

$modal-lightbox: rgba(33, 33, 33, 0.9);

$preview-controls-wrapper: rgba(25, 25, 25, 0.85);

// Palette
$pl-main-color: #266BB8;
$pl-main-color-bright: #308CED;
$pl-main-color-dimmed-dark: #7F8E99;
$pl-main-color-dimmed: #A1B4C2;
$pl-main-color-light: #B4C9E2;
$pl-main-color-lighter: #E4E9F0;
$pl-main-color-ultra-light: #F1F5F8;

$pl-secondary-color: #A01F43;
$pl-secondary-color-bright:	#ED1651;
$pl-secondary-color-lighter: #F5DEDF;
$pl-secondary-color-ultra-light: #FCF3F4;

$pl-dimmed-color-dark: #666;
$pl-dimmed-color: #999;
$pl-dimmed-color-light: #CCC;

$pl-black: #000;
$pl-white: #FFF;

$pl-tag-green: #4B8D04;
$pl-tag-orange: #FFA21C;
$pl-tag-darkred: #CC2929;

$pl-main-shadow: 0px 3px 5px 1px rgba(71, 102, 119, 0.10), 0px 2px 15px 5px rgba(95, 111, 119, 0.10);

// Layout
$layout-ratio: 1.414;
$layout-max-width: 1700px;
$layout-compact-width: 1050px;

// Layout compact
$layout-frame-small-compact: 160px;

// Layout normal
$layout-frame-small: 220px;
$layout-frame-medium: 100%/(1 + $layout-ratio);
$layout-frame-large: $layout-frame-medium * $layout-ratio;

// Lauout max 
$layout-frame-small-max: 250px;
$layout-frame-medium-max: ($layout-max-width - $layout-frame-small-max)/(1 + $layout-ratio);
$layout-frame-large-max: $layout-frame-medium-max * $layout-ratio;

// Frames
$layout-frame-horizontal-padding: 20px;
$layout-frame-vertical-padding: $layout-frame-horizontal-padding;

// Colors and shadows
$body-bg: $pl-main-color-lighter;

$loader-auth-bg: $pl-white;
$loader-auth-border-color: $pl-main-color-dimmed;
$loader-auth-shadow: $pl-main-shadow;
$loader-auth-user-border-color: $pl-main-color-lighter;

$nav-main-color: $pl-black;
$nav-bg-color: $pl-white;
$nav-border-color: $pl-secondary-color;
$nav-hover-color: $pl-secondary-color;
$nav-hover-bg: $pl-secondary-color-lighter;
$nav-active-color: $pl-secondary-color-bright;
$nav-selected-color: $pl-white;
$nav-selected-bg: $pl-secondary-color;
$nav-logo-color: $pl-secondary-color;

$layout-frame-left-bg: $pl-main-color-lighter;
$layout-frame-middle-bg: $pl-main-color-ultra-light;
$layout-frame-right-bg: $pl-white;

$ui-text-color: $pl-black;
$ui-text-color-night: $pl-white;

$ui-text-color-on-plate: $pl-white;
$ui-text-color-on-plate-night: $pl-black;

$ui-line-selected-text-color: $pl-white;
$ui-line-selected-comment-color: $pl-dimmed-color-light;

$ui-input-color: $pl-black;
$ui-input-bg: $pl-white;
$ui-input-border-color: $pl-main-color-dimmed;
$ui-input-search-hover-border-color: $pl-dimmed-color-light;
$ui-input-search-hover-bg: rgba(255, 255, 255, 0.5);
$ui-input-error-border-color: $pl-secondary-color;

$ui-comment-color: $pl-dimmed-color;
$ui-accent-color: $pl-secondary-color-lighter;

//***

$ui-main-color: $pl-main-color;
$ui-main-color-hover: $pl-secondary-color;
$ui-main-color-plate-hover: $pl-main-color-bright;
$ui-main-color-active: $pl-secondary-color-bright;

$ui-main-color-dimmed: $pl-dimmed-color;

$ui-main-color-night: #BDDDFF;
$ui-main-color-night-hover: #FFE8BF;
$ui-main-color-night-active: #FFF6E5;

$ui-line-selected-color: $pl-white;
$ui-line-selected-bg: $pl-main-color;

$ui-plate-color: $pl-white;
$ui-plate-color-hover: $pl-main-color-light;

$ui-dropdown-border-color: $pl-main-color-dimmed;
$ui-dropdown-shadow: $pl-main-shadow;
$ui-input-shadow: $pl-main-shadow;

$ui-modal-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 2px 15px 5px rgba(0,0,0,0.30), 0px 3px 5px 1px rgba(0,0,0,0.30);

$ui-white-shadow-h: linear-gradient(-180deg, rgba(255, 255, 255, 0.0) 0%, #FFFFFF 100%);

// Line heights
$main-line-height: 24px;
$main-line-vertical-padding: 2px;
$line-vertical-padding: 1px;
$big-title-size-diff: 5px;
$tiny-size-diff: -4px;
$key-line-width: 220px;
$key-line-width-compact: 120px;

// Can't touch this!
$font-line-height: $main-line-height - ($main-line-vertical-padding * 2);
$font-line-height-big-title: $font-line-height + $big-title-size-diff;
$font-line-height-tiny: $font-line-height + $tiny-size-diff;

$line-height: $main-line-height;
$line-height-big-title: $line-height + $big-title-size-diff;
$line-height-tiny: $line-height + $tiny-size-diff;

$main-line-height-big-title: $main-line-height + $big-title-size-diff;
$main-line-height-tiny: $main-line-height + $tiny-size-diff;

$input-height: $main-line-height;
$input-height-big-title: $input-height + $big-title-size-diff;
$input-height-tiny: $input-height + $tiny-size-diff;

//minus border
$button-vertical-padding: $main-line-vertical-padding - 1px;

@mixin transition-default {
	//transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out;
}

// *** *** *** *** ***
// Общие элементы
// *** *** *** *** ***

html, body {
	font-size: 14px;
	line-height: $font-line-height;
	font-family: $helvetica;
	margin: 0px;
	padding: 0px;
	height: 100%;
	color: $ui-text-color;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 960px;
}

a {
	color: $ui-text-color;
	text-decoration: none;
	outline: 0;
}

.z-style-interactive {
	color: $ui-main-color !important;
	cursor: pointer;
	&:hover {
		color: $ui-main-color-hover !important;
	}
	&:focus {
		color: $ui-main-color-hover !important;
		outline: none;
	}
	&:active {
		color: $ui-main-color-active !important;
	}
}

.z-style-accent {
	background-color: $ui-accent-color;
}

.z-style-pointer {
	cursor: pointer;
}

.z-style-wide {
	width: 100%;
}

.z-style-hidden {
	display: none !important;
}

.z-style-flex-wide {
	@include display(flex);
	width: 100%;
}

// *** *** *** *** ***
// SVG
// *** *** *** *** ***

svg {
	background-color: #eee;
}

.z-style-svg-bar {
	fill: transparent;
	&:hover>.z-style-svg-bar-rect {
		fill: #78AEF0;
	}
}

.z-style-svg-bar-rect {
	shape-rendering: crispEdges;
	fill: #6694CC;
	&:hover {
		fill: #78AEF0;
	}
}

.z-style-svg-axis {
	line, path {
		shape-rendering: crispEdges;
		fill: none;
		stroke: none;
	}
	text {
		font-size: 12px;
	}
}

.z-style-svg-interactive {
	fill: $ui-main-color !important;
	cursor: pointer;
	&:hover {
		fill: $ui-main-color-hover !important;
	}
	&:focus {
		fill: $ui-main-color-hover !important;
	}
	&:active {
		fill: $ui-main-color-active !important;
	}
}

// *** *** *** *** ***
// Лоадер
// *** *** *** *** ***

.z-style-loader-content-wrapper {
	height: 100%;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
}

.z-style-loader-user {
	position: relative;
	bottom: 50px;
	text-align: center;
}

.z-style-loader-user-name {
	font-size: 22px;
	margin-bottom: 5px;
}

.z-style-loader-auth {
	position: relative;
	bottom: 50px;
	padding: 25px 10px;
	background-color: $loader-auth-bg;
	border: 1px solid $loader-auth-border-color;
	border-radius: 10px;
	box-shadow: $loader-auth-shadow;
	@include display(flex);
}

.z-style-loader-auth-login-wrapper:first-child:not(:only-child) {
	border-right: 1px solid $loader-auth-user-border-color;
}

.z-style-loader-auth-login-wrapper {
	padding: 0px 20px;
	width: 190px;
	text-align: center;
}

.z-style-loader-auth-login-title {
	font-weight: bold;
	margin-bottom: 15px;
	height: 40px;
}

.z-style-loader-auth-login-input-wrapper {
	margin-bottom: 10px;
}

.z-style-loader-auth-login-button-wrapper {
	@include display(flex);
}

.z-style-loader-auth-login-button {
	width: 50%;
	box-sizing: border-box;
	&:focus {
		color: $ui-main-color-hover;
		border-color: $ui-main-color-hover;
	}
}

.z-style-loader-auth-current-photo {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 15px auto 5px auto;
}

.z-style-loader-auth-current-domain {
	font-size: 12px;
}

// *** *** *** *** ***
// Навигация
// *** *** *** *** ***

.z-style-nav {
	background-color: $nav-bg-color;
	width: 100%;
	z-index: 50;
}

.z-style-nav-wrapper {
	@include display(flex);
	@include justify-content(space-between);
	padding: 0px 10px; 
	height: 33px;
	border-bottom: 1px solid $nav-border-color;
}

.z-style-nav-section {
	@include display(flex);
	@include flex-shrink(0);
}

.z-style-nav-section-menu {
	overflow-x: hidden;
	@include flex-shrink(1);
}

@mixin z-style-nav-item {
	@include display(flex);
	@include align-items(center);
	@include flex-shrink(0);
	@include transition-default;
	white-space: nowrap;
	padding: 0px 10px;
}

.z-style-nav-item {
	@include z-style-nav-item;
	color: $nav-main-color;
	&:hover {
		background-color: $nav-hover-bg;
		color: $nav-hover-color;
	}
	&:active {
		color: $nav-active-color;
	}
}

.z-style-nav-item-selected {
	@include z-style-nav-item;
	color: $nav-selected-color;
	background-color: $nav-selected-bg;
}

.z-style-nav-logo {
	@include z-style-nav-item;
	color: $nav-logo-color;	
	font-weight: bold;
	&:hover {
		background-color: $nav-bg-color;
	}
	&:active {
		color: $nav-logo-color;
	}
}

.z-style-nav-item-icon {
	@include flex-shrink(0);
}

.z-style-nav-item-content {
	max-width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
}

// *** *** *** *** ***
// Разметка фреймов
// *** *** *** *** ***

.z-style-common-layout {
	@include display(flex);
	height: calc(100% - 34px);
	width: 100%;
 	box-sizing: border-box;
 	background-color: $body-bg;
}

@mixin z-style-frame {
	box-shadow: 3px 0 3px 0px rgba(0,0,0,0.2);
	@include transition-default;
}

.z-style-frame-left, .z-style-frame-middle, {
	@include z-style-frame;
	padding-top: $layout-frame-vertical-padding;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.z-style-frame-left {
	position: relative;
	background: $layout-frame-left-bg;
	min-width: $layout-frame-small;
	max-width: $layout-frame-small;
}

.z-style-frame-middle {
	position: relative;
	background: $layout-frame-middle-bg;
}

.z-style-frame-right {
	@include z-style-frame;
	padding-top: $layout-frame-vertical-padding;
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: $layout-frame-right-bg;
	position: absolute;
}

.z-style-frame-last {
	background-color: $layout-frame-right-bg;
}

.z-style-frame-right-wrapper {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	@include display(flex);
	@include flex-grow(1);
}

.z-style-iframe {
	border: none;
	height: 100%;
	width: 100%;
	overflow: visible;
	position: absolute;
}

.z-style-layout-default {
	&>.z-style-frame-middle {
		width: $layout-frame-medium;
	}
	&>.z-style-frame-right-wrapper {
		width: $layout-frame-large;
	}
}

.z-style-layout-reports {
	&>.z-style-frame-middle {
		width: $layout-frame-large;
	}
	&>.z-style-frame-right-wrapper {
		width: $layout-frame-medium;
	}
}

.z-style-layout-chart {
	&>.z-style-frame-middle {
		display: none;
	}
	&>.z-style-frame-right-wrapper {
		width: 100%;
	}
}

// *** *** *** *** ***
// Дополнительные фреймы
// *** *** *** *** ***

.z-style-frame-content {
	height: calc(100% - 40px); // 2 * $layout-frame-vertical-padding + 100px;
	width: 100%;
	position: absolute;
	padding-bottom: $layout-frame-vertical-padding;
	bottom: 30px;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.z-style-frame-spinner-wrapper {
	max-width: 60%;
	@include display(flex);
	@include align-items(center);
	@include flex-direction(column);
}

.z-style-frame-spinner {
	position: relative;
	width: 36px;
	height: 36px;
}

.z-style-frame-spinner-value {
	text-align: center;
	margin-bottom: 10px;
}

// *** *** *** *** ***
// Разработка и отладка
// *** *** *** *** ***

#hb-source {
	margin: 0px 20px;
}

#home-wrapper {
	width: 500px;
	margin: 20px;
	padding: 15px 0px 1px 0px;
	background-color: $ui-plate-color;
	border-color: $ui-dropdown-border-color;
	box-shadow: $ui-dropdown-shadow;
	border-radius: 5px;
}

// *** *** *** *** ***
// Интерактивные элементы и инпуты
// *** *** *** *** ***

// Drag & Drop

.z-style-drag-surrogate {
    position: absolute;
    opacity: .8;
    cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

// Инпуты

@mixin z-style-input {
	color: $ui-input-color;
	border: 1px solid $ui-input-border-color;
	padding: 0px 3px;
	margin: 0px;
	height: $input-height;
	border-radius: 3px;
	box-sizing: border-box !important;
	&:focus {
		outline: none;
		box-shadow: $ui-input-shadow;
	}
	&::-ms-clear {
		display: none;
	}
}

.z-style-input-text {
	@include z-style-input;
	width: 100%;
}

.z-style-main-line-content-block-search {
	position: relative;
}

.z-style-input-search {
	@include z-style-input;
	@include transition-default;
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
	padding-left: 22px;
	width: 100%;
	&:hover {
		border-color: $ui-input-search-hover-border-color;
		background-color: $ui-input-search-hover-bg;
	}
	&:focus {
		box-shadow: $ui-input-shadow;
		border-color: $ui-input-border-color;
		background-color: white;
	}
	@include placeholder {
		color: $ui-main-color-dimmed;
		opacity: 1;
		text-overflow: ellipsis;
	}
}

.z-style-search-icon {
	position: absolute;
	left: 4px;
	top: 0px;
}

.z-style-input-short-text {
	@include z-style-input;
	width: 100%;
}

.z-style-input-number {
	@include z-style-input;
	width: 80px;
}

.z-style-input-email {
	@include z-style-input;
	width: 100%;
}

.z-style-input-date {
	@include z-style-input;
	width: 65px;
}

.z-style-input-time {
	@include z-style-input;
	width: 45px;
}

.z-style-input-ip {
	@include z-style-input;
	width: 120px;
}

.z-style-input-url {
	@include z-style-input;
	width: 100%;
}

.z-style-input-tel {
	@include z-style-input;
	width: 120px;
}

.z-style-input-password {
	@include z-style-input;
	width: 220px;
}

.z-style-input-size-big-title {
	height: $input-height-big-title;
}

.z-style-input-size-tiny, .z-style-input-size-tiny-title {
	height: $input-height-tiny;
}

.z-style-input-error {
	border: 1px solid $ui-input-error-border-color;
}

//Многострочный инпут

.z-style-main-line-content-block-editable {
	margin-bottom: 7px;
	overflow-y: hidden;
	word-wrap: break-word;
}

.z-style-main-line-content-block-editable-edit {
	min-height: 95px;
	margin-bottom: 5px;
	overflow: auto;
	padding: 5px;
	outline: none;
	background-color: $ui-input-bg;
	border: 1px solid $ui-input-border-color;
	box-shadow: $ui-input-shadow;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.z-style-main-line-content-block-editable-edit {
		overflow-x: hidden;
	}
}

.z-style-main-line-content-block-editable-shadow {
	height: 15px;
	background-image: $ui-white-shadow-h;
	position: absolute;
	width: 100%;
	bottom: $line-height + $main-line-vertical-padding + 5px;
}

// Кнопки

.z-style-buttons-wrapper {
	@include justify-content(center);
	@include display(flex);
	@include align-items(center);
}

.z-style-buttons-wrapper-left {
	@include display(flex);
	&>.z-style-main-line-content-block {
		padding: $button-vertical-padding 0px;
		margin-right: 15px;
		&>.z-style-button {
			padding: 0px;
			border-left: none;
			border-right: none;
		}
	}
}

.z-style-buttons-wrapper>.thin-ghost-block {
	&:first-child, &:last-child {
		display: none;
	}
}

.z-style-button {
	@include user-select(none);
	padding: $button-vertical-padding 7px;
	border-radius: 5px;
	border: 1px solid transparent;
	cursor: pointer;
	text-align: center;
	@include flex-shrink(0);
	&:focus {
		outline: none;	
	}
}

.z-style-button-plain {
	border-color: transparent;
}

.z-style-tabs-group {
	display: table;
}

.z-style-tabs-group-wide {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.z-style-tabs-group-td {
	display: table-cell;
}

.z-style-tab-button {
	text-align: center;
}

.z-style-button-overflow {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.z-style-tabs-group-td-day:not(:first-child) {
	border-left: 1px solid $ui-main-color;
}

.z-style-tabs-group-td-day {
	&:hover {
		border-color: $ui-main-color-hover;
		& + * {
			border-color: $ui-main-color-hover;
		}
	}
	&:active {
		border-color: $ui-main-color-active;
		& + * {
			border-color: $ui-main-color-active;
		}
	}
}

.z-style-tabs-group-td-selected-day {
	border-color: $ui-main-color;
	& + * {
		border-color: $ui-main-color !important;
	}
}

.z-style-tabs-group-td-night:not(:last-child) {
	border-right: 1px solid $ui-main-color-night;
}

.z-style-tabs-group-td:first-child .z-style-tab-button {
	border-radius: 5px 0px 0px 5px;
	border-right: none;
}

.z-style-tabs-group-td:last-child .z-style-tab-button {
	border-radius: 0px 5px 5px 0px;
	border-left: none;
}

.z-style-tabs-group-td:not(:first-child):not(:last-child) .z-style-tab-button {
	border-radius: 0px;
	border-left: none;
	border-right: none;
}

.z-style-button-day {
	@include transition-default;
	background-color: transparent;
	color: $ui-main-color;
	border-color: $ui-main-color;
	&:hover {
		color: $ui-main-color-hover;
		border-color: $ui-main-color-hover;
	}
	&:active {
		color: $ui-main-color-active;
		border-color: $ui-main-color-active;
	}
	&.z-style-button-plain {
		border-color: transparent;
	}
}

.z-style-button-selected-day {
	@include transition-default;
	background-color: $ui-main-color;
	border: 1px solid $ui-main-color;
	color: $ui-text-color-on-plate;
	cursor: default;
	&:hover {
		border: 1px solid $ui-main-color;
		color: $ui-text-color-on-plate;
	}
	&:active {
		border: 1px solid $ui-main-color;
		color: $ui-text-color-on-plate;
	}
}

.z-style-button-dimmed {
	@include transition-default;
	background-color: transparent;
	color: $ui-main-color-dimmed;
	border-color: $ui-main-color-dimmed;
	&:hover {
		color: $ui-main-color-hover;
		border-color: $ui-main-color-hover;
	}
	&:active {
		color: $ui-main-color-active;
		border-color: $ui-main-color-active;
	}
	&.z-style-button-plain {
		border-color: transparent;
	}
}

.z-style-button-selected-dimmed {
	@include transition-default;
	background-color: $ui-main-color;
	border: 1px solid $ui-main-color;
	color: $ui-text-color-on-plate;
	cursor: default;
	&:hover {
		border: 1px solid $ui-main-color;
		color: $ui-text-color-on-plate;
	}
	&:active {
		border: 1px solid $ui-main-color;
		color: $ui-text-color-on-plate;
	}
}

.z-style-button-night {
	@include transition-default;
	background-color: transparent;
	color: $ui-main-color-night;
	border-color: $ui-main-color-night;
	&:hover {
		color: $ui-main-color-night-hover;
		border-color: $ui-main-color-night-hover;
	}
	&:active {
		color: $ui-main-color-night-active;
		border-color: $ui-main-color-night-active;
	}
	&.z-style-button-plain {
		border-color: transparent;
	}
}

.z-style-button-selected-night {
	@include transition-default;
	background-color: $ui-main-color-night;
	border: 1px solid $ui-main-color-night;
	color: $ui-text-color-on-plate-night;
	cursor: default;
	&:hover {
		border: 1px solid $ui-main-color-night;
		color: $ui-text-color-on-plate-night;
	}
	&:active {
		border: 1px solid $ui-main-color-night;
		color: $ui-text-color-on-plate-night;
	}
}

//Выпадающие списки

.z-style-dropdown {
	position: fixed;
	max-width: 400px;
	background-color: $ui-plate-color;
	border: 1px solid $ui-dropdown-border-color;
	border-radius: 10px;
	box-shadow: $ui-dropdown-shadow;
	z-index: 1;
}

.z-style-section-dropdown .z-style-layout-line {
	padding-left: 10px;
}

// Расписание 

.z-style-arrows-status {
	width: 120px;
	text-align: center;
}

.z-style-arrows-wrapper {
	@include display(flex);
	@include align-items(baseline);
	@include justify-content(center);
	width: 100%;
}

.z-style-calendar-days {
	@include display(flex);
	@include flex-wrap(wrap);
	margin: 0px auto;
}

.z-style-schedule-day-entry {
	width: 36px;
}

.z-style-calendar-day-entry {
	width: 34px;
	margin: 1px;
}

.z-style-schedule-month-entry {
	width: 63px;
	height: 30px;
}

.z-style-calendar-day-of-week {
	width: 22px;
	text-align: center;
	font-weight: bold;
	padding: 5px 7px;
}

@mixin z-style-button-checkbox {
	height: 100%;
	text-align: center;
	border-radius: 0px;
	box-sizing: border-box;
	@include transition-default;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.z-style-button-checkbox {
	@include z-style-button-checkbox;
	background-color: transparent;
	color: $ui-main-color;
	&:hover {
		background-color: $ui-plate-color-hover;
	}
}

.z-style-button-checkbox-selected {
	@include z-style-button-checkbox;
	background-color: $ui-main-color;
	color: $ui-text-color-on-plate;
	&:hover {
		background-color: $ui-main-color-plate-hover;
	}
}

// Чекбокс

.z-style-checkbox-label {
	@include display(flex);
	@include align-items(center);
	cursor: default; //в IE почему-то text
}

.z-style-checkbox {
	margin-right: 4px;
}

// Тултип (Tipped)

.z-style-tooltip {
	border-bottom: 1px dotted $ui-main-color-dimmed;
}

.tpd-content {
	font-size: 12px !important;
	line-height: $font-line-height - 4px !important;
	font-family: $helvetica !important;
	background-color: transparent;
	color: #000 !important;
	padding: 8px 10px !important;
}

.tpd-content-spacer {
	background-color: $layout-frame-middle-bg;
	border: 1px solid $ui-dropdown-border-color;
	border-radius: 7px !important;
	box-shadow: $ui-dropdown-shadow;
}

.tpd-content-wrapper {
	overflow: visible;
}

.tpd-background {
	background-color: transparent !important;
}

// Слайдер (NoUI)

.z-style-slider-wrapper {
	height: 20px;
	@include display(flex);
	@include align-items(center);
}

.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

.noUi-base {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.noUi-background {
	cursor: pointer;
	margin: 0px 10px;
	border: none;
}

.noUi-base {
	height: 20px;
}

.noUi-base:after { 
	background-color: #ddd;
	width: 100%;
	height: 4px;
	margin-top: 8px;
	border-radius: 2px;
	display: block;
	content: "";
}

.noUi-base:hover:after { 
	background-color: #fff;
	content: "";
}

.noUi-handle {
	background-color: $ui-main-color-night;
	width: 20px;
	height: 20px;
	left: -10px;
	border-radius: 50%;
	cursor: grab;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34), 0px 2px 12px 0px rgba(0,0,0,0.08), 0px 2px 2px 0px rgba(0,0,0,0.10);
	outline: none;
	&:hover {
		background-color: $ui-main-color-night-hover;
	}
	&:active {
		cursor: -webkit-grabbing; 
		cursor: -moz-grabbing;
		background-color: $ui-main-color-night-active;
	}
}

// Кат

.z-style-cut-wrapper {
	color: #333;
	width: 100%;
	@include display(flex);
	@include align-items(center);
}

.z-style-cut-line-wrapper {
	height: 18px;
	@include flex-grow(1);
}

.z-style-cut-line {
	margin-top: 9px;
	border-bottom: 1px dashed #666;
}

.z-style-cut-icon {
	margin: 0px 3px;
	font-size: 14px;
}

// *** *** *** *** ***
// Секции и разделители
// *** *** *** *** ***

.z-style-sticky-wrapper {
	position: absolute;
	height: calc(100% - 20px);
	width: 100%;
	@include display(flex);
	@include flex-direction(column);
	>:not(.z-style-sticky-scrollable) {
		@include flex-shrink(0);
	}
}

.z-style-sticky-scrollable {
	border-top: 1px solid transparent;
	overflow: auto;
}

.z-style-sticky-scrollable-scrolled {
	border-top: 1px solid $pl-dimmed-color-light;
}

.section {
	padding-bottom: 20px;
}

.head-section {
	margin-bottom: 10px;
}

.z-style-section-dropdown {
	margin: 10px 0px;
}

.z-style-section-schedule-fixed {
	margin: 10px;
	width: 252px;
}

.z-style-section-schedule {
	margin: 10px;
}

.z-style-separator {
	height: 10px;
}

.z-style-ghost-block {
	width: 18px;
	@include flex-shrink(0);
	display: inline-block;
}

.z-style-thin-ghost-block {
	width: 10px;
	@include flex-shrink(0);
	display: inline-block;
}

.z-style-ultra-thin-ghost-block {
	width: 5px;
	@include flex-shrink(0);
	display: inline-block;
}

// *** *** *** *** ***
// Линии и их контейнеры
// *** *** *** *** ***

.z-style-layout-line {
	padding: $line-vertical-padding $layout-frame-horizontal-padding;
	min-height: $line-height;
	width: 100%;
	white-space: nowrap;
	box-sizing: border-box;
	@include display(flex);
	@include align-items(flex-start);
	@include transition-default;
	&.z-style-big-title {
		font-size: 18px;
		line-height: $font-line-height-big-title;
		.icon {
			font-size: 18px !important;
		}
		.z-style-main-line-status>.icon {
			margin-left: 8px;
		}
	}
	&.z-style-tiny, &.z-style-tiny-title {
		font-size: 12px;
		line-height: $font-line-height-tiny;
		min-height: $line-height-tiny;
	}
	&.z-style-tiny-title {
		font-weight: bold;
	}
	&.z-style-small-title {
		font-weight: bold;
	}
	&.z-style-line-selected {
		color: $ui-line-selected-color;
		background: $ui-line-selected-bg;
		.z-style-main-line-value, .z-style-main-line-suffix, .z-style-main-line-prefix {
			color: $ui-line-selected-text-color;
		}
		.z-style-main-line-comment {
			color: $ui-line-selected-comment-color;
		}
		.z-style-strike {
			color: $ui-line-selected-comment-color !important;
			text-decoration: line-through;
		}
		.z-style-tag {
			border: 1px solid $ui-line-selected-color;
		}
	}
	&.z-style-line-hover {
		.icon{
		opacity: 0;
			&:hover, &.z-style-force-visibility {
				opacity: 1 !important;
			}
		}
		&:hover {
			background: $ui-plate-color-hover;
			.icon {
				opacity: 1 !important;
			}
			.z-style-tag {
				border: 1px solid $ui-line-selected-color;
			}
		}
	}
}

.z-style-inline {
	&.z-style-big-title {
		font-size: 18px;
		line-height: $font-line-height-big-title;
	}
	&.z-style-tiny, &.z-style-tiny-title {
		font-size: 12px;
		line-height: $font-line-height-tiny;
	}
	&.z-style-tiny-title, &.z-style-small-title {
		font-size: 14px;
		font-weight: bold;
		line-height: $font-line-height;
	}
}

.z-style-layout-line-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

@mixin z-style-layout-line-table-cell {
	display: table-cell;
	&:not(:last-child) {
		padding-right: 20px;
	}
}

.z-style-layout-line-table-cell-1 {
	@include z-style-layout-line-table-cell;
	width: 8.333333%;
}

.z-style-layout-line-table-cell-2 {
	@include z-style-layout-line-table-cell;
	width: 16.666666%;
}

.z-style-layout-line-table-cell-3 {
	@include z-style-layout-line-table-cell;
	width: 25%;
}

.z-style-layout-line-table-cell-4 {
	@include z-style-layout-line-table-cell;
	width: 33.333333%;
}

.z-style-layout-line-table-cell-6 {
	@include z-style-layout-line-table-cell;
	width: 50%;
}

.z-style-main-line {
	width: 100%;
	min-height: $main-line-height;
	min-width: 1px;
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(space-between);
}

.z-style-main-line-size-big-title {
	min-height: $main-line-height-big-title;
}

.z-style-main-line-size-tiny, .z-style-main-line-size-tiny-title {
	min-height: $main-line-height-tiny;
}

.z-style-main-line-icon {
	@include flex-shrink(0);
	margin-right: 2px;
}

.z-style-main-line-spinner {
	@include flex-shrink(0);
	position: relative;
	width: 16px;
	min-height: $main-line-height;
	margin-right: 2px;
}

.z-style-main-line-content {
	width: 100%;
	min-width: 1px;
	min-height: $main-line-height;
	@include display(flex); //нужно для того, чтобы дети не расползались на всю ширину
}

.z-style-main-line-content-size-tiny, .z-style-main-line-content-size-tiny-title {
	min-height: $main-line-height-tiny;
}

.z-style-main-line-content-block-overflow {
	color: $ui-comment-color;
}

.z-style-main-line-prefix, .z-style-main-line-value, .z-style-main-line-suffix {
	color: $ui-text-color;
}

.z-style-black {
	color: $ui-text-color !important;
}

.z-style-grey {
	color: $ui-comment-color !important;
}

.z-style-strike {
	color: $ui-comment-color !important;
	text-decoration: line-through;
}

.z-style-main-line-comment {
	font-weight: normal;
	margin-left: 10px;
}

.z-style-main-line-content-block {
	@include display(inline-flex);
	@include align-items(center);
	min-width: 1px;
	max-width: 100%;
}

.z-style-main-line-content-block:not(:last-child) {
	@include flex-shrink(0);
}

.z-style-main-line-content-block-overflow {
	min-width: 1px;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
	padding: $main-line-vertical-padding 0px;
}

.z-style-main-line-content-block-editable-wrapper {
	min-width: 1px;
	display: inline-block;
	position: relative;
	display: block;
}

.z-style-main-line-content-block:only-child {
	width: 100%;
}

.z-style-main-line-content-block:last-child .z-style-main-line-content-block-overflow {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.z-style-main-line-content-text {
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.z-style-main-line-comment {
	color: $ui-comment-color;
}

@mixin z-style-main-line-status {
	@include display(flex);
	@include align-items(center);
	@include flex-shrink(0);
	min-height: $main-line-height;
	max-width: 50%;
	font-size: 14px;
}

.z-style-main-line-status {
	@include z-style-main-line-status;
	font-weight: bold;
	>.icon {
		margin-left: 2px; 
	}
	>.z-style-main-line-status-text:not(:last-child) {
		padding-right: 4px;
	}
	>.z-style-main-line-status-text {
		padding-left: 6px;
	}
}

.z-style-main-line-pre-status {
	@include z-style-main-line-status;
	&>.icon, &>.z-style-main-line-status-text {
		margin-right: 2px;
	}
}

.z-style-main-line-status-size-big-title {
	min-height: $line-height-big-title;
}

.z-style-main-line-status-size-tiny, .z-style-main-line-status-size-tiny-title {
	min-height: $line-height-tiny;
}

.z-style-main-line-status-text {
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding: $main-line-vertical-padding 0px;
}

.z-style-key-main-line {
	white-space: normal;
	min-width: $key-line-width;
	max-width: $key-line-width;
	min-height: $main-line-height;
	padding-right: 20px;
	@include display(flex);
	@include align-items(flex-start);
}

.z-style-key-content {
	padding: $main-line-vertical-padding 0px;
}

.z-style-force-normal-wrap {
	white-space: normal;
	display: block;
}

// *** *** *** *** ***
// Модальное окно
// *** *** *** *** ***

.z-style-modal-wrapper {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: $modal-lightbox;
	@include display(flex);
	@include justify-content(center);
	@include align-items(flex-start);
	overflow-y: auto;
	z-index: 100;
}

.z-style-modal {
	margin: 20vh 0px 10vh 0px;
	width: $layout-frame-large;
	max-width: $layout-frame-large-max;
	box-shadow: $ui-modal-shadow;
	border-radius: 10px;
}

.z-style-modal-title {
	background-color: $layout-frame-left-bg;
	border-radius: 10px 10px 0px 0px;
	height: $main-line-height + 10px;
	@include display(flex);
	@include align-items(center);
}

.z-style-modal-frame {
	background-color: $layout-frame-middle-bg;
	border-radius: 0px 0px 10px 10px;
	padding: 10px 0px;
}

// *** *** *** *** ***
// Специфичные элементы
// *** *** *** *** ***

// *** *** *** *** ***
// Линии для архива
// *** *** *** *** ***

.archive-section {
	border-top: 2px solid #ccc;
}

.archive-content {
	width: 100%;
	overflow-x: hidden;
	.main-line {
		margin: 4px 0px 3px 0px;
	}
}

.second-line {
	@include display(flex);
	@include justify-content(space-between);
	color: #666;
	font-size: 12px;
	overflow-x: hidden;
}

.second-line-content {
	width: 100%;
}
.policy {
	font-weight: bold;
}

.z-style-incident-thumbnails-wrapper {
	padding: $line-vertical-padding $layout-frame-horizontal-padding;
}

.z-style-incident-thumbnail {
	border: 1px solid $ui-input-border-color;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	max-width: 200px;
	background-repeat: no-repeat;
	background-position: center center;
}

// *** *** *** *** ***
// Препросмотр файлов
// *** *** *** *** ***

.z-style-preview-wrapper {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: $modal-lightbox;
	@include display(flex);
	z-index: 100;
}

.z-style-preview-frame-thumbnails {
	@include flex-shrink(0);
	width: 170px;
	overflow-y: auto;
	background-color: $layout-frame-middle-bg;
}

.z-style-preview-thumbnail-wrapper {
	width: 100%;
	margin: 8px 0px;
}

.z-style-preview-thumbnail-picture {
	border: 1px solid $ui-input-border-color;
	width: 110px;
	height: 70px;
	text-align: center;
	margin: 0px auto;
}

.z-style-preview-thumbnail-picture-html {
	width: 40px;
	height: 68px;
	text-align: center;
	white-space: normal;
	word-break: break-all;
	background-color: #fff;
	border: 1px solid black;
	margin: 0px auto;
	padding: 0px 5px;
	overflow: hidden;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.z-style-preview-thumbnail-picture-image {
	height: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: contain;
}

.z-style-preview-thumbnail-text {
	word-wrap: break-word;
	margin-top: 6px;
	white-space: normal;
	text-align: center;
}

.z-style-preview-thumbnail-text-size {
	margin-top: 2px;
	font-size: 12px;
}

.z-style-preview-frame-content {
	width: 100%;
	overflow-y: auto;
	position: relative;
	@include display(flex);
}

.z-style-preview-frame-content-main {
	width: 100%;
	@include display(flex);
}

.z-style-preview-frame-content-text-wrapper {
	margin: 70px;
	width: 100%;
}

.z-style-preview-frame-content-text {
	@include align-self(flex-start);
	overflow: visible;
	margin: 0px auto;
	padding: 95px 0px 70px 0px;
	max-width: 900px;
	background-color: #fff;
	box-shadow: $ui-modal-shadow;
}

.z-style-preview-frame-content-text-paragraph {
	font-size: 18px;
	line-height: 1.5;
	margin: 0px 80px 25px 80px;
}

.z-style-preview-frame-content-text-cut {
	margin: 25px 80px 25px 80px;
}

.z-style-preview-frame-content-text-margin {
	height: 85px;
	width: 0px;
}

.z-style-preview-frame-content-picture-wrapper {
	margin: 70px 70px 150px 70px;
	width: 100%;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
}

.z-style-preview-frame-content-picture {
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: contain;
	box-shadow: $ui-modal-shadow;
	height: 715px;
	width: 700px;
}

.z-style-preview-frame-content-controls-wrapper {
	position: fixed;
	left: 190px;
	bottom: 20px;
	padding: 10px;
	background-color: $preview-controls-wrapper;
	border-radius: 10px;
	color: #fff;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(space-between);
}

// *** *** *** *** ***
// Респонсив
// *** *** *** *** ***

@media screen and (min-width: $layout-max-width) {
	.z-style-frame-left {
		min-width: $layout-frame-small-max;
		max-width: $layout-frame-small-max;
	}
	.z-style-layout-default {
		&>.z-style-frame-middle {
			max-width: $layout-frame-medium-max;
		}
		&>.z-style-frame-right-wrapper {
			&>.z-style-frame-right {
				max-width: $layout-frame-large-max;
			}
		}
	}
	.z-style-layout-reports {
		&>.z-style-frame-middle {
			max-width: $layout-frame-large-max;
		}
		&>.z-style-frame-right-wrapper {
			&>.z-style-frame-right {
				max-width: $layout-frame-medium-max;
			}
		}
	}
}

@media screen and (min-width: 1300px) {
	.z-style-nav-item-content {
		max-width: 20vw;
	}
}

@media screen and (max-width: $layout-compact-width) {
	.z-style-frame-left {
		min-width: $layout-frame-small-compact;
		max-width: $layout-frame-small-compact;
	}
	.z-style-key-main-line {
		min-width: $key-line-width-compact;
		max-width: $key-line-width-compact;
	}
}

@import "include/tipped";
@import "include/icons";