<!-- Шаблоны для разработки — фреймы и меню -->
<script id="template-dev-frame" type="text/x-handlebars-template" include="common.html">
	{{> template-nav nav}}
	{{> template-layout layout}}
</script>

<script id="template-dev-frame-iframes" type="text/x-handlebars-template" include="common.html">
	{{> template-nav nav}}
	{{> template-layout-iframe layout}}
</script>

<script id="template-dev-pre" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		<div class="z-style-layout-line z-style-big-title">
			<div class="z-style-main-line">
				<div class="z-style-main-line-content">{{template}}</div>
			</div>
		</div>
	</section>
	<section class="section">
		<pre id="hb-source"></pre>				
	</section>
</script>

<script id="template-dev-tooltip" type="text/x-handlebars-template" include="common.html">
	<div class="z-style-layout-line ">
		<div class="z-style-flex-wide">
			<div class="z-style-main-line ">
				<div class="z-style-main-line-content">
					<div class="z-style-main-line-content-block "><span id="demo-tooltip" style="cursor: default" class="z-style-main-line-content-block-overflow"><span class="z-style-tooltip z-style-main-line-value">Тултип</span></span></div>
				</div>
				<div class="z-style-main-line-status "></div>
			</div>
		</div>
	</div>
</script>

<script id="template-dev-error" type="text/x-handlebars-template" include="common.html">
	<div class="z-style-layout-line key-line">		
		<div class="z-style-key-main-line">
			<div class="z-style-key-content">Вывод ошибок</div>
		</div>
		<div class="z-style-flex-wide">
			<div class="z-style-main-line ">
				<div class="z-style-main-line-content">
					<div class="z-style-main-line-content-block ">
						<input spellcheck="false" class="z-style-input-text z-style-input-error z-dev-ignore" type="text" value="Инпут с ошибкой">
					</div>
				</div>
				<div class="z-style-main-line-status "></div>
			</div>
		</div>
	</div>
</script>

<script id="template-dev-strike" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-line-hover {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-main-line line_style='strike'}}
	</div>
</script>