<script id="template-settings-discovery-middle" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$make 'template-head-line-interactive' title 'r_settings_discovery_middle_title'}}
	</section>
	<section class="section">
		{{$make 'template-bold-line-static' null 'r_common_range'}}
		{{$make 'template-hover-line-static' pcs 'r_common_pcs'}}
		{{> template-separator}}
		{{$make 'template-bold-line-static' null 'r_common_settings'}}
		{{$make 'template-hover-line-static' general_settings 'r_common_general_settings'}}
		{{$make 'template-hover-line-static' folders 'r_common_folders'}}
		{{$make 'template-hover-line-static' dbs 'r_common_dbs'}}
		{{$make 'template-hover-line-static' exchange 'r_common_exchange'}}
	</section>
</script>