
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Отчеты</title>	
	<link rel="stylesheet" href="/css/z_main.css" />
	<script src="/js/libs/jquery-2.1.3.min.js"></script>
	<script src="/js/libs/jquery.nouislider.all.min.js"></script>
	<script src="/js/libs/handlebars-v3.0.0.js"></script>
	<script src="/js/dev-random.js"></script>
	<script src="/js/dev-data.js"></script>
	<script src="/js/main.js"></script>
	<script src="/templates/helpers.js"></script>
	<style type="text/css">
		pre {
			margin: 0px 20px;
		}
	</style>
</head>
<body>
	<nav>
		<div class="nav-container">
			<div class="nav-section">
				<a href="/" class="nav-item"><i class="tempicon i-logo"></i>&nbsp;Рабочий стол</a>
				<a href="#" class="nav-item">Отчеты</a>
				<a href="#" class="nav-item">Справочники</a>
				<a href="#" class="nav-item">Политики</a>
				<a href="#" class="nav-item">Настройки</a>
				<a href="#" class="nav-item">Помощь</a>
			</div>
			<div class="nav-section">
				<a href="#" class="nav-item"><i class="tempicon i-upload"></i>&nbsp;9</a>
				<a href="#" class="nav-item">Сохранить все</a>
			</div>
			<div class="nav-section">
				<a href="#" class="nav-item"><i class="icon-inline z_cls_icon_flag"></i>&nbsp;5</a>
				<a href="#" class="nav-item"><i class="icon-inline z_cls_icon_warning"></i>&nbsp;3</a>
				<a href="#" class="nav-item">Александр Тюпин&nbsp;<i class="icon-inline z_cls_icon_menu"></i></a>
				<a href="#" class="nav-item"><i class="icon-inline z_cls_icon_search"></i></a>
			</div>
		</div>
	</nav>
	<div class="common-layout layout-archive">
		<div class="frame-left"></div>
		<div class="frame-center">
			<section id="hb-archive-line" class="section"></section>
			<section class="section">
				<pre>
{
	new_console: true,
	has_attachment: true,
	last_policy: "Политика",
	last_action: "Блокировка",
	description: "Описание",
	title: {
		title_full: "Александр Тюпин → Евгений Горюнов",
		title: "Александр Тюпин",
		onclick: "alert('Hi there!')",
		status: "13:49",
		statuses: [
			{
				icon: "z_cls_icon_device"
			}
		],
		actions: [
			{
				icon: "z_cls_icon_menu",
				onclick: "ZJS_REPORT_VIEW_INCIDENT_menu()"
			}
		]
	},
	source: {
		icon: "z_cls_icon_device",
		title: "ALPHA",
		onclick: "alert('Hi there!')"
	},
	channel: {
		icon: "z_cls_icon_device",
		title: "HTTP/Web — Отправлено письмо через веб-интерфейс Яндекс-почты",
		mail: "mpanikovsky@ya.ru",
		onclick: ""
	},
	recipients: {
		control_line: {
			title: "Пользователи"
		},
		content: [
			{
				user_name: "Александр Корейко",
				mail: "akoreyko@gmail.com",
				user_onclick: "showUser('99873037')",
				mail_onclick: "showUser('99873037')"
			},
			{
				field: "CC",
				user_name: "egorunov@gmail.com",
				user_onclick: "showUser('99873037')"
			},
			{
				field: "BCC",
				user_name: "dgorunova@gmail.com",
				user_onclick: "showUser('99873037')"
			}
		]
	},
	details: {
		control_line: {
			title: "Детали инцидента"
		},
		content: [
			{
				hash: "Отправитель",
				title: "Александр Тюпин"
			},
			{
				hash: "Получатель",
				title: "Евгений Горюнов"
			}
		]
	},
	files: {
		title: "Файлы",
		files_list: [

		],
		files_previews: [

		]
	}
};
				</pre>				
			</section>
		</div>
		<div class="frame-right">
			<section id="hb-incident" class="section"></section>
		</div>
	</div>

	<!-- Archive -->

	<script id="template-layout-line-archive" type="text/x-handlebars-template">
		<a class="layout-line line archive" href="#">
			{{> template-icon-action icon="z_cls_icon_nocheck"}}
			{{> template-icon-status channel}}
			<div class="archive-content">
				{{> template-main-line-archive title}}
				{{> template-second-line-archive}}
			</div>
		</a>
	</script>

	<script id="template-main-line-archive" type="text/x-handlebars-template">
		<div class="main-line">
			<div class="main-line-content">{{title_full}}</div>
			{{> template-main-line-status}}
		</div>
	</script>

	<script id="template-second-line-archive" type="text/x-handlebars-template">
		<div class="second-line">
            <div class="second-line-content">
                {{#if has_attachment~}}
					{{> template-inline-icon icon="z_cls_icon_attachment"}}
                {{/if}}
                {{#if new_console}}
             	   <span class="policy">{{last_policy}} ({{last_action~}})</span>&nbsp;—&nbsp;
           		{{~/if~}}
           		{{description~}}
            </div>
            {{> template-shadow}}
        </div>
	</script>

	<!-- Incident -->

	<script type="text/x-handlebars-template" id="template-incident-mail">
		<section class="head-section">
			{{> template-head-line-interactive title}}
		</section>
		<section class="section">
			{{> template-basic-line-interactive source}}
			{{> template-incident-mail-channel channel}}
			{{> template-separator}}
			{{> template-basic-line-expand resources.r_common_users}}
			{{#each recipients}}
				<div class="layout-line">
					<div class="main-line">
						{{> template-ghost-block}}
						<div class="main-line-content">
							{{~#if type~}}
								{{$mail-type type ../../resources}}:&nbsp;
							{{~/if~}}
							<a href="#" class="interactive {{add_class}}">{{user_name}}&nbsp;</a>
							{{~#if mail~}}
								(<a href="#" class="interactive {{add_mail_class}}">{{mail}}</a>)
							{{~/if~}}
						</div>
					</div>
				</div>
			{{/each}}
			{{> template-separator}}
			{{> template-basic-line-expand resources.r_archive_incident_details}}
			{{#each details}}
				{{> template-key-line-static ghost=true}}
			{{/each}}
		</section>
		<section class="section">
			{{> template-head-line-static files}}
			{{> template-incident-files files}}
		</section>
	</script>

	<script id="template-incident-files" type="text/x-handlebars-template">
		{{#each files_list}}
			{{> template-basic-line-interactive}}
		{{/each}}
		{{#each files_previews}}
		{{/each}}
	</script>

	<script id="template-incident-mail-channel" type="text/x-handlebars-template">
		<div class="layout-line">
			<div class="main-line">
				<div class="icon-inline-margin">{{> template-icon-status}}</div>
				<div class="main-line">
					<div class="main-line-content force-normal-wrap">{{value}} (<a href="#" class="interactive" onclick="{{onclick}}">{{mail}}</a>)</div>
				</div>
			</div>
		</div>
	</script>

	<script id="template-incident-mail-recipients" type="text/x-handlebars-template">
		{{> template-basic-line-expand control_line}}
		{{#each content}}
			<div class="layout-line">
			<div class="main-line">
				{{> template-ghost-block}}
				<div class="main-line-content">
					{{~#if type~}}
						{{field}}:&nbsp;
					{{~/if~}}
					<a href="#" class="interactive" onclick="{{user_onclick}}">{{user_name}}&nbsp;</a>
					{{~#if mail~}}
						(<a href="#" class="interactive" onclick="{{mail_onclick}}">{{mail}}</a>)
					{{~/if~}}
				</div>
			</div>
		</div>
		{{/each}}
	</script>

	<script id="template-incident-details" type="text/x-handlebars-template">
		{{> template-basic-line-expand control_line}}
		{{#each content}}
			{{> template-key-line-static ghost=true}}
		{{/each}}
	</script>

	<!-- COMMON: общие для всей консоли элементы-->

	<!-- Layout lines: оболочки для линий — базовых кусков из которых состоит макет. Интерактивные отличаются от статичных тем, что оборачиваются в одну большую ссылку -->
	
	<!-- Большой статичный заголовок -->
	<script id="template-head-line-static" type="text/x-handlebars-template">
		<div class="layout-line big-title">
			{{> template-main-line-static}}
		</div>
	</script>
	
	<!-- Большой интерактивный заголовок -->
	<script id="template-head-line-interactive" type="text/x-handlebars-template">
		<div class="layout-line big-title">
			{{> template-main-line-interactive}}
		</div>
	</script>
	
	<!-- Обыкновенная статичная линия -->
	<script id="template-basic-line-static" type="text/x-handlebars-template">
		<div class="layout-line">
			{{> template-main-line-static}}
		</div>
	</script>
	
	<!-- Обыкновенная интерактивная линия -->
	<script id="template-basic-line-interactive" type="text/x-handlebars-template">
		<div class="layout-line">
			{{> template-main-line-interactive}}
		</div>
	</script>

	<!-- Раскрывающийся заголовок, показывается полужирным -->
	<script id="template-basic-line-expand" type="text/x-handlebars-template">
		<div class="layout-line small-title">
			<div class="main-line">
				<div class="icon-inline-margin">{{> template-icon-status icon="z_cls_icon_expanded"}}</div>
				<div class="main-line-content">{{{title}}}</div>
				{{> template-main-line-status}}
			</div>
		</div>
	</script>	

	<!-- Статичная линия вида ключ-значение -->
	<script id="template-key-line-static" type="text/x-handlebars-template">
		<div class="layout-line key-line">
			{{> template-key}}
			{{#if icon}}
				<div class="icon-inline-margin">{{> template-icon-status}}</div>
			{{/if}}
			{{> template-main-line-static}}
		</div>
	</script>

	<!-- Интерактивная линия вида ключ-значение -->
	<script id="template-key-line-interactive" type="text/x-handlebars-template">
		<div class="layout-line key-line">
			{{> template-key}}
			{{#if icon}}
				<div class="icon-inline-margin">{{> template-icon-status}}</div>
			{{/if}}
			{{> template-main-line-interactive}}
		</div>
	</script>

	<!-- Main lines: линии. Должны использоваться вместе с оболочкой (из раздела сверху или специфичной для шаблона) -->

	<script id="template-main-line-static" type="text/x-handlebars-template">
		<div class="main-line">
			<div class="main-line-content">{{title}}</div>
			{{> template-main-line-status}}
		</div>
	</script>

	<script id="template-main-line-interactive" type="text/x-handlebars-template">
		<div class="main-line">
			{{#if icon}}
				<div class="icon-inline-margin">{{> template-icon-status}}</div>
			{{/if}}
			<div class="main-line-content"><a href="#" class="interactive inline-string {{add_class}}" {{#if store_id}}store-id="{{store_id}}"{{/if}} {{#if store_idx}}store-idx="{{store_idx}}"{{/if}} {{#if hide_id}}hide-id="{{hide_id}}"{{/if}}>
					{{~#if value~}}
						{{value}}
					{{~/if~}}
					{{~#if selected~}}
						{{$options selected options}}
					{{~/if~}}
					{{~#if is_hidden~}}
						{{hidden_title}}
					{{~/if~}}
				</a>
			</div>
			{{> template-main-line-status}}
		</div>
	</script>

	<script id="template-key" type="text/x-handlebars-template">
		<div class="key-main-line">
			{{#if ghost}}
				{{> template-ghost-block}}
			{{/if}}
			<div class="key-content">{{~key~}}</div>
		</div>
	</script>

	<!-- Шаблон статуса, включает тень -->
	<script id="template-main-line-status" type="text/x-handlebars-template">
		<div class="main-line-status">
			{{#unless noshadow}}
				{{> template-shadow}}
			{{/unless}}
			{{#if statuses}}
				{{#each statuses}}
					{{> template-icon-status}}
				{{/each}}
			{{/if}}
			{{#if status}}
				{{> template-status-string}}
			{{/if}}
			{{#if actions}}
				{{#each actions}}
					{{> template-icon-action}}
				{{/each}}
			{{/if}}
		</div>
	</script>

	<!-- Иконки -->
	
	<script id="template-icon-status" type="text/x-handlebars-template">
		<div class="icon force-visibility">{{> template-inline-icon}}</div>
	</script>

	<script id="template-icon-action" type="text/x-handlebars-template">
		<div class="icon icon-action">{{> template-inline-icon}}</div>
	</script>

	<script id="template-inline-icon" type="text/x-handlebars-template">
		<i class="icon-inline {{icon}}"></i>
	</script>

	<script id="template-status-string" type="text/x-handlebars-template">
		<div class="main-line-status-text">{{status}}</div>
	</script>

	<!-- Декоративные элементы и разделители -->

	<script id="template-shadow" type="text/x-handlebars-template">
		<div class="white-shadow">&nbsp;</div>
	</script>

	<script id="template-ghost-block" type="text/x-handlebars-template">
		<div class="ghost-block">&nbsp;</div>
	</script>

	<script id="template-separator" type="text/x-handlebars-template">
		<div class="separator">&nbsp;</div>
	</script>

	<script type="text/javascript">
		var templateArchiveLine = Handlebars.compile($("#template-layout-line-archive").html());
		var templateIncident = Handlebars.compile($("#template-incident-mail").html());

		Handlebars.registerPartial("template-incident-files", $("#template-incident-files").html());

		Handlebars.registerPartial("template-incident-mail-channel", $("#template-incident-mail-channel").html());
		Handlebars.registerPartial("template-incident-mail-recipients", $("#template-incident-mail-recipients").html());
		Handlebars.registerPartial("template-incident-details", $("#template-incident-details").html());

		Handlebars.registerPartial("template-second-line-archive", $("#template-second-line-archive").html());
		Handlebars.registerPartial("template-main-line-archive", $("#template-main-line-archive").html());

		Handlebars.registerPartial("template-head-line-static", $("#template-head-line-static").html());
		Handlebars.registerPartial("template-head-line-interactive", $("#template-head-line-interactive").html());
		
		Handlebars.registerPartial("template-basic-line-static", $("#template-basic-line-static").html());
		Handlebars.registerPartial("template-basic-line-interactive", $("#template-basic-line-interactive").html());
		Handlebars.registerPartial("template-basic-line-expand", $("#template-basic-line-expand").html());
		Handlebars.registerPartial("template-key-line-static", $("#template-key-line-static").html());
		Handlebars.registerPartial("template-key-line-interactive", $("#template-key-line-interactive").html());

		Handlebars.registerPartial("template-main-line-static", $("#template-main-line-static").html());
		Handlebars.registerPartial("template-main-line-interactive", $("#template-main-line-interactive").html());
		Handlebars.registerPartial("template-key", $("#template-key").html());
		Handlebars.registerPartial("template-main-line-status", $("#template-main-line-status").html());

		Handlebars.registerPartial("template-status-string", $("#template-status-string").html());
		Handlebars.registerPartial("template-shadow", $("#template-shadow").html());
		Handlebars.registerPartial("template-ghost-block", $("#template-ghost-block").html());
		Handlebars.registerPartial("template-separator", $("#template-separator").html());

		Handlebars.registerPartial("template-icon-status", $("#template-icon-status").html());
		Handlebars.registerPartial("template-icon-action", $("#template-icon-action").html());
		Handlebars.registerPartial("template-inline-icon", $("#template-inline-icon").html());

		var data = {
			new_console: true,
			has_attachment: true,
			last_policy: "Политика",
			last_action: "Блокировка",
			description: "Описание",
			title: {
				title_full: "Александр Тюпин → Евгений Горюнов",
				title: "Александр Тюпин",
				onclick: "alert('Hi there!')",
				status: "13:49",
				statuses: [
					{
						icon: "z_cls_icon_device"
					}
				],
				actions: [
					{
						icon: "z_cls_icon_menu",
						onclick: "ZJS_REPORT_VIEW_INCIDENT_menu()"
					}
				]
			},
			source: {
				icon: "z_cls_icon_device",
				title: "ALPHA",
				onclick: "alert('Hi there!')"
			},
			channel: {
				icon: "z_cls_icon_device",
				title: "HTTP/Web — Отправлено письмо через веб-интерфейс Яндекс-почты",
				mail: "mpanikovsky@ya.ru",
				onclick: ""
			},
			recipients: {
				control_line: {
					title: "Пользователи"
				},
				content: [
					{
						user_name: "Александр Корейко",
						mail: "akoreyko@gmail.com",
						user_onclick: "showUser('99873037')",
						mail_onclick: "showUser('99873037')"
					},
					{
						field: "CC",
						user_name: "egorunov@gmail.com",
						user_onclick: "showUser('99873037')"
					},
					{
						field: "BCC",
						user_name: "dgorunova@gmail.com",
						user_onclick: "showUser('99873037')"
					}
				]
			},
			details: {
				control_line: {
					title: "Детали инцидента"
				},
				content: [
					{
						hash: "Отправитель",
						title: "Александр Тюпин"
					},
					{
						hash: "Получатель",
						title: "Евгений Горюнов"
					}
				]
			},
			files: {
				title: "Файлы",
				files_list: [

				],
				files_previews: [

				]
			}
		};

		var incidentData = {
			title: {
				value: "Александр Тюпин → Евгений Горюнов",
				add_class: "z_class",
				status: "13:49",
				statuses: [
					{
						icon: "z_cls_icon_device"
					}
				],
				actions: [
					{
						icon: "z_cls_icon_menu"
					}
				]
			},
			source: {
				icon: "z_cls_icon_device",
				value: "ALPHA"
			},
			channel: {
				icon: "z_cls_icon_device",
				value: "HTTP/Web — Отправлено письмо через веб-интерфейс Яндекс-почты",
				mail: "mpanikovsky@ya.ru"
			},
			recipients: [
				{
					user_name: "Александр Корейко",
					mail: "akoreyko@gmail.com",
					add_class: "z_class",
					add_mail_class: "z_mail_class"
				},
				{
					type: "cc",
					user_name: "egorunov@gmail.com"
				},
				{
					type: "bcc",
					user_name: "dgorunova@gmail.com"
				}
			],
			details: [
				{
					type: "sender",
					value: "Александр Тюпин"
				},
				{
					type: "reciever",
					value: "Евгений Горюнов"
				}
			],
			files: {
				title: "Файлы",
				files_list: [

				],
				files_previews: [

				]
			},
			resources: {
				r_archive_incident_details: {
					title: "Детали инцидента"
				},
				r_archive_incident_details_sender: {
					title: "Отправитель"
				},
				r_archive_incident_details_reciever: {
					title: "Получатель"
				}
				r_common_users: {
					title: "Пользователи"
				},
				r_common_cc: {
					title: "CC"
				},
				r_common_bcc: {
					title: "BCC"
				}
			}
		};

		Handlebars.registerHelper('$make', function(partial, data, resources) {
			partial = Handlebars.partials[partial];
			data = $.extend(data, resources);
			compile = Handlebars.compile(partial)(data);
			return new Handlebars.SafeString(compile);
		});

		Handlebars.registerHelper('$options', function(selected, options) {
			return options[selected].title;
		});

		Handlebars.registerHelper('$mail-type', function(type, resources) {
			switch (type) {
				case "cc":
					return resources.r_common_cc.title
				case "bcc":
					return resources.r_common_bcc.title
				default: 
					return ""
			}
		});

		Handlebars.registerHelper('$incident-details-type', function(type, resources) {
			switch (type) {
				case "sender":
					return resources.r_archive_incident_details_sender
				case "reciever":
					return resources.r_common_bcc.title
				default: 
					return ""
			}
		});

		$("#hb-archive-line").html(templateArchiveLine(data));
		$("#hb-incident").html(templateIncident(incidentData));
	</script>
</body>
</html>