<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">

	<!-- Android -->
	<meta name="mobile-web-app-capable" content="yes">

	<!-- iOS -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="user-scalable=no">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-mobile-web-app-title" content="Zecurion">

	<title></title>
	<link rel="stylesheet" href="/css/z_main.css" />

	<script src="/js/libs/jquery-2.1.3.min.js"></script>
	<script src="/js/libs/jquery.nouislider.all.min.js"></script>
	<script src="/js/libs/handlebars-v3.0.0.js"></script>
	<script src="/js/libs/spin.min.js"></script>
	<script src="/js/libs/tipped.js"></script>
	<script src="/js/libs/d3.js"></script>

	<script src="/js/dev-random.js"></script>
	<script src="/js/dev-data.js"></script>
	<script src="/js/dev-charts.js"></script>
	<script src="/js/main.js"></script>

	<script src="/templates/helpers.js"></script>
</head>
<body>
	<script type="text/javascript">
		var settings = {
			template: "self",
			layout: "layout-chart",
			chart: "basic",
			outputFrame: "frame-right",
			sourceFrame: ""
		}

		var data = {
			chart_data: [],
			tabs: {
				content: [
					{
						value: "Линейная шкала",
						add_class: "z-dev-ignore z-dev-chart-linear"
					},
					{
						value: "Логарифмическая шкала",
						add_class: "z-dev-ignore z-dev-chart-log"
					}
				]
			}
		}

		for (var i = 1; i <= 40; i++) {
			var dataEntry = {}
			dataEntry.number = Math.floor(Math.random() * 12001);
			dataEntry.url = '#'
			data.chart_data.push(dataEntry);
		}

		loadSelf(settings, data);
	</script>
	<script id="self" type="text/x-handlebars-template" include="common.html">
		<div id="chart-wrapper"></div>
		{{$mk tabs t='tabs-inline'}}
	</script>
</body>
</html>