<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/css/z_main.css" />
	<script src="/js/libs/jquery-2.1.3.min.js"></script>
	<script src="/js/libs/jquery.nouislider.all.min.js"></script>
	<script src="/js/libs/handlebars-v3.0.0.js"></script>
	<script src="/js/libs/spin.min.js"></script>
	<script src="/js/libs/tipped.js"></script>
	<script src="/js/dev-random.js"></script>
	<script src="/js/dev-data.js"></script>
	<script src="/js/main.js"></script>
	<script src="/templates/helpers.js"></script>
</head>
<body>
	<script type="text/javascript">
		var settings = {
			template: "self",
			layout: "layout-default",
			outputFrame: "frame-middle",
			sourceFrame: "frame-right",
		}

		var data = {};

		loadSelf(settings, data);
	</script>
	<script id="self" type="text/x-handlebars-template" include="common.html">
		<div class='z-style-sticky-wrapper'>
			<section class="head-section">
				{{$mk value="Заголовок" type="static" size="big-title"}}
				{{$mk t="search-line"}}
			</section>
			<div class='z-style-sticky-scrollable z-style-sticky-scrollable-scrolled'>
				<section class="section">
					{{#repeat 50}}
						{{$mk value="Линия" type="static"}}
					{{/repeat}}
				</section>
			</div>
		</div>
	</script>
</body>
</html>