<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/css/z_main.css" />
	<script src="/js/libs/jquery-2.1.3.min.js"></script>
	<script src="/js/libs/jquery.nouislider.all.min.js"></script>
	<script src="/js/libs/handlebars-v3.0.0.js"></script>
	<script src="/js/dev-random.js"></script>
	<script src="/js/dev-data.js"></script>
	<script src="/js/main.js"></script>
	<script src="/templates/helpers.js"></script>
</head>
<body>
	<script type="text/javascript">
		var settings = {
			template: "self",
			layout: "layout-archive",
			outputFrame: "frame-right",
			sourceFrame: "frame-middle",
		}

		var data = {
			position: {
				top: 80,
				right: 80
			},
			week: {
				add_class: "z_cls_week",
				add_attrs: "foo='bar'",
				content: [
					{
						z_resource_value: "r_common_mon"
					},
					{
						z_resource_value: "r_common_tues"
					},
					{
						z_resource_value: "r_common_wed"
					},
					{
						z_resource_value: "r_common_thur"
					},
					{
						z_resource_value: "r_common_frid"
					},
					{
						z_resource_value: "r_common_sat"
					},
					{
						z_resource_value: "r_common_sun"
					}
				]
			}
		};
		loadSelf(settings, data);
	</script>
	<script id="self" type="text/x-handlebars-template" include="common.html">
		{{$make 'template-schedule-week' this}}
	</script>
</body>
</html>