<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/css/z_main.css" />
	<script src="/js/libs/jquery-2.1.3.min.js"></script>
	<script src="/js/libs/jquery.nouislider.all.min.js"></script>
	<script src="/js/libs/handlebars-v3.0.0.js"></script>
	<script src="/js/dev-random.js"></script>
	<script src="/js/dev-data.js"></script>
	<script src="/js/main.js"></script>
	<script src="/templates/helpers.js"></script>
</head>
<body>
	<script type="text/javascript">
		var settings = {
			template: "self",
			layout: "layout-archive",
			outputFrame: "body",
			sourceFrame: "frame-middle",
		}

		var data = {
			position: {
				top: 80,
				right: 80
			},
			content: [
				{
					value: "Первая опция",
					add_line_class: "line-class",
					add_line_attrs: "line-attr='foo'",
					add_class: "value-class",
					add_attrs: "value-attr='foo'"
				},
				{
					value: "Вторая опция",
					is_selected: true
				},
				{
					value: "Опция судьбы с очень-очень-очень длинным названием"
				},
				{
					z_resource_value: "r_common_user"
				},
				{
					z_resource_value: "r_common_db"
				},
				{
					z_resource_value: "r_common_server"
				},
				{
					value: "Первая опция"
				},
				{
					value: "Вторая опция",
				},
				{
					value: "Третья опция"
				},
				{
					value: "Четвертая опция",
				},
				{
					value: "Пятая опция"
				}
			]
		};

		loadSelf(settings, data);
	</script>
	<script id="self" type="text/x-handlebars-template" include="common.html">
		{{$make 'template-basic-dropdown' this}}
	</script>
</body>
</html>