<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/css/z_main.css" />
	<script src="/js/libs/jquery-2.1.3.min.js"></script>
	<script src="/js/libs/jquery.nouislider.all.min.js"></script>
	<script src="/js/libs/handlebars-v3.0.0.js"></script>
	<script src="/js/dev-random.js"></script>
	<script src="/js/dev-data.js"></script>
	<script src="/js/main.js"></script>
	<script src="/templates/helpers.js"></script>
</head>
<body>
	<script type="text/javascript">
		var settings = {
			template: "self",
			layout: "layout-archive",
			outputFrame: "frame-right",
			sourceFrame: "frame-middle",
		}

		var data = {
			position: {
				top: 80,
				right: 80
			},
			tabs: {
				add_class: "z_cls_group",
				add_attrs: "foo='bar'",
				content: [
					{
						z_resource_value: "r_common_days_of_month",
						add_class: "z_cls_tab",
						add_attrs: "foo='bar'"
					},
					{
						z_resource_value: "r_common_days_of_week",
						add_class: "z_cls_tab",
						add_attrs: "foo='bar'"
					}
				]
			},
			day_number: {
				z_resource_value: "r_common_first",
			},
			day_of_week: {
				z_resource_value: "r_common_monday",
			},
			check_all: {
				z_resource_value: "r_common_check_all"
			},
			calendar: {
				add_class: "z_cls_group",
				add_attrs: "foo='bar'",
				content: [
					{
						value: 1,
						add_class: "z_cls_d1",
						add_attrs: "day='1'"
					},
					{
						value: 2,
					},
					{
						value: 3,
					},
					{
						value: 4,
					},
					{
						value: 5,
					},
					{
						value: 6,
					},
					{
						value: 7,
					},
					{
						value: 8,
					},
					{
						value: 9,
					},
					{
						value: 10,
					},
					{
						value: 11,
					},
					{
						value: 12,
					},
					{
						value: 13,
					},
					{
						value: 14,
					},
					{
						value: 15,
					},
					{
						value: 16,
					},
					{
						value: 17,
					},
					{
						value: 18,
					},
					{
						value: 19,
					},
					{
						value: 20,
					},
					{
						value: 21,
					},
					{
						value: 22,
					},
					{
						value: 23,
					},
					{
						value: 24,
					},
					{
						value: 25,
					},
					{
						value: 26,
					},
					{
						value: 27,
					},
					{
						value: 28,
					},
					{
						value: 29,
					},
					{
						value: 30,
					},
					{
						value: 31,
					},
				]
			}
		};
		loadSelf(settings, data);
	</script>
	<script id="self" type="text/x-handlebars-template" include="common.html">
		{{$make 'template-schedule-month' this}}
	</script>
</body>
</html>