<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/css/z_main.css" />
	<script src="/js/libs/jquery-2.1.3.min.js"></script>
	<script src="/js/libs/jquery.nouislider.all.min.js"></script>
	<script src="/js/libs/handlebars-v3.0.0.js"></script>
	<script src="/js/libs/spin.min.js"></script>
	<script src="/js/libs/tipped.js"></script>
	<script src="/js/dev-random.js"></script>
	<script src="/js/dev-data.js"></script>
	<script src="/js/main.js"></script>
	<script src="/templates/helpers.js"></script>
</head>
<body>
	<script type="text/javascript">
		var settings = {
			template: "self",
			outputFrame: "frame-right",
			sourceFrame: "frame-middle",
		}

		var data = {
			add_class: "z_cls",
			add_attrs: "foo='bar'",
			value: "Идет импорт словаря. Настройки спиннера: lines: 11, length: 5, width: 2, radius: 5, color: '#999999', trail: 50"
		};

		loadSelf(settings, data);
	</script>
	<script id="self" type="text/x-handlebars-template" include="common.html">
		{{$mk this t='frame-spinner'}}
	</script>
</body>
</html>