<!-- Общие для всей консоли элементы-->

<!-- *** *** *** *** *** -->
<!-- Архивный отчет -->
<!-- *** *** *** *** *** -->

<script id="template-reports-archive-sort" type="text/x-handlebars-template">
	{{> template-value-wrap-open}}
		Сортировать {{$mk data_sort t='inline'}}. Группировка {{$mk data_group t='inline'}}
	{{> template-value-wrap-close}}
</script>

<!-- *** *** *** *** *** -->
<!-- Инциденты -->
<!-- *** *** *** *** *** -->

<script id="template-reports-incident-files" type="text/x-handlebars-template">
	{{#each files_list}}
		{{> template-basic-line-interactive}}
	{{/each}}
	{{#each files_previews}}
	{{/each}}
</script>

<script id="template-reports-incident-mail-channel" type="text/x-handlebars-template">
	{{> template-value-wrap-open}}
		{{$mk data_description t='inline' type='static'}} ({{$mk data_mail t='inline'}})
	{{> template-value-wrap-close}}
</script>

<script id="template-reports-incident-mail-policy" type="text/x-handlebars-template">
	{{> template-value-wrap-open}}
		{{$mk data_policy t='inline' size='small-title'}}
		<br />{{$mk data_condition t='inline' type='static' size='tiny'}}
	{{> template-value-wrap-close}}
</script>

<script id="template-reports-incident-thumbnail" type="text/x-handlebars-template">
	<div class="z-style-incident-thumbnail" style="background-image: url('{{thumbnail_url}}'); width: {{width}}px; height: {{height}}px; background-size: {{width}}px {{height}}px;"></div>
</script>

<!-- *** *** *** *** *** -->
<!-- Навигация и основные фреймы -->
<!-- *** *** *** *** *** -->

<script id="template-nav" type="text/x-handlebars-template">
	<nav class="z-style-nav">
		<div class="z-style-nav-wrapper {{add_class}}" {{{add_attrs}}}>
			{{#with menu}}
				<section class="z-style-nav-section z-style-nav-section-menu {{add_line_class}}" {{{add_line_attrs}}}>
					<a href="/" class="z-style-nav-logo"><img src="/img/logo.png" width="16" height="16">&nbsp;Zecurion</a>
					{{#each content}}
						{{$mk this t='nav-item'}}
					{{/each}}
				</section>
			{{/with}}
			{{#with upload}}
				<section class="z-style-nav-section {{add_line_class}}" {{{add_line_attrs}}}>
					{{$mk count t='nav-item'}}
					{{$mk save t='nav-item' z_resource_value='r_common_save_all'}}
				</section>
			{{/with}}
			<section class="z-style-nav-section">
				{{$mk notifications t='nav-item'}}
				{{$mk warnings t='nav-item'}}
				{{$mk user t='nav-item'}}
				{{$mk search t='nav-item'}}
			</section>
		</div>
	</nav>
</script>

<script id="template-nav-item" type="text/x-handlebars-template">
	<a href="{{#if link}}{{link}}{{else}}#{{/if}}" class="z-style-nav-item {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if icon}}<div class="z-style-nav-item-icon">{{> template-inline-icon}}{{#if value}}&nbsp;{{/if}}</div>{{/if}}
		<div class="z-style-nav-item-content {{add_class}}" {{{add_attrs}}}>{{value}}</div>
	</a>
</script>

<script id="template-layout" type="text/x-handlebars-template">
	<div class="z-style-common-layout {{#if layout}}z-style-layout-{{layout}}{{else}}z-style-layout-default{{/if}} {{add_class}}" {{{add_attrs}}}>
		<div class="z-style-frame-left {{frame_left.add_class}}" {{{frame_left.add_attrs}}}></div>
		<div class="z-style-frame-middle {{frame_middle.add_class}}" {{{frame_middle.add_attrs}}}></div>
		<div class="z-style-frame-right-wrapper">
			<div class="z-style-frame-right {{frame_right.add_class}}" {{{frame_right.add_attrs}}}></div>
		</div>
	</div>
</script>

<!-- *** *** *** *** *** -->
<!-- Дополнительные фреймы -->
<!-- *** *** *** *** *** -->

<script id="template-frame-spinner" type="text/x-handlebars-template">
	<div class="z-style-frame-content {{add_class}}" {{{add_attrs}}}>
		<div class="z-style-frame-spinner-wrapper">
			<div class="z-style-frame-spinner-value">{{value}}</div>
			<div class="z-style-frame-spinner z_cls_spin_target"></div>
		</div>
	</div>
</script>

<!-- *** *** *** *** *** -->
<!-- Модальное окно -->
<!-- *** *** *** *** *** -->

<script id="template-modal" type="text/x-handlebars-template">
	<div class="z-style-modal-wrapper">
		<div class="z-style-modal">
			<div class="z-style-modal-title {{head.add_class}}" {{{head.add_attrs}}}></div>
			<div class="z-style-modal-frame {{body.add_class}}" {{{body.add_attrs}}}></div>
			<div class="z-style-modal-close icon icon-action z_cls_modal_close {{icon.add_class}}" {{{icon.add_attrs}}}>
				{{> template-inline-icon icon='z_cls_icon_close_modal'}}
			</div>
		</div>
	</div>
</script>

<!-- *** *** *** *** *** -->
<!-- Выпадающиие списки -->
<!-- *** *** *** *** *** -->

<!-- *** *** Temp. ideas *** *** *** -->
<script id="template-basic-dropdown2" type="text/x-handlebars-template">
	<div class="z-style-dropdown" style="{{$position position}}">
		<section class="z-style-section-dropdown">
			<div data-bind="$$$foreachHolder&&">
				{{$make 'template-dropdown-line2' this}}
			</div>
			<div>$$$paginationHolder&&</div>
		</section>
	</div>
</script>

<script id="template-dropdown-line2" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-line-hover z-style-pointer">
		{{> template-subline-static2}}
	</div>
</script>

<script id="template-icon-status2" type="text/x-handlebars-template">
	<div class="icon z-style-force-visibility" >{{> template-inline-icon}}</div>
</script>

<script id="template-subline-static2" type="text/x-handlebars-template">
	<div class="z-style-main-line">
		<div class="z-style-main-line-content">
			<div class="z-style-main-line-content-block">
				<span class="z-style-main-line-content-block-overflow">
					<span class="z-style-main-line-value" data-bind="$$$itemHolder&&"></span>
				</span>
			</div>
		</div>
	</div>
</script>
<!-- *** *** Temp. ideas end *** *** *** -->

<script id="template-basic-dropdown" type="text/x-handlebars-template">
	<div class="z-style-dropdown" style="{{$position position}}">
		<section class="z-style-section-dropdown">
			{{#each content}}
				{{$make 'template-dropdown-line' this}}
			{{/each}}
		</section>
	</div>
</script>

<script id="template-dropdown-line" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-line-hover z-style-pointer" index="{{index}}">
		<div class="z-style-main-line-icon">{{> template-icon-status icon=""}}</div>
		{{> template-subline}}
	</div>
</script>

<script id="template-schedule-week" type="text/x-handlebars-template">
	<div class="z-style-dropdown" style="{{$position position}}">
		<section class="z-style-section-schedule">
			{{> template-tabs-checkbox-inline week}}
		</section>
	</div>
</script>

<script id="template-schedule-month" type="text/x-handlebars-template">
	<div class="z-style-dropdown" style="{{$position position}}">
		<section class="z-style-section-schedule-fixed">
			{{$make 'template-tabs-wide' tabs}}
		</section>
		<section class="z-style-section-schedule-fixed">
			<div class="z-style-calendar-days {{calendar.add_class}}" {{{calendar.add_attrs}}}>
				{{#each calendar.content}}
					{{$make 'template-calendar-day' this}}
				{{/each}}	
			</div>
		</section>
		<section class="z-style-section-dropdown">
			{{$make 'template-checkbox-line' check_all}}
		</section>
		<section class="z-style-section-dropdown">
			<div>
				{{$make 'template-basic-line-interactive' day_number}}
				{{$make 'template-basic-line-interactive' day_of_week}}
			</div>
		</section>
	</div>
</script>

<script id="template-schedule-year" type="text/x-handlebars-template">
	<div class="z-style-dropdown" style="{{$position position}}">
		<section class="z-style-section-schedule-fixed">
			<div class="z-style-calendar-days {{add_class}}" {{{add_attrs}}}>
				{{#each year.content}}
					{{$make 'template-schedule-year-entry' this}}
				{{/each}}	
			</div>
		</section>
	</div>
</script>

<script id="template-schedule-year-entry" type="text/x-handlebars-template">
	<div class="z-style-schedule-month-entry"><div class="z-style-button z-style-button-checkbox {{add_class}}" {{{add_attrs}}}>{{value}}</div></div>
</script>

<script id="template-calendar" type="text/x-handlebars-template">
	<div class="z-style-dropdown" style="{{$position position}}">
		<section class="z-style-section-schedule-fixed">
			{{#with arrows_line}}
				<div class="z-style-arrows-wrapper {{add_class}}" {{{add_attrs}}}>
					{{$make 'template-button-plain' prev}}
					<div class="z-style-arrows-status">{{$make 'template-inline-static' status}}</div>
					{{$make 'template-button-plain' next}}
				</div>
			{{/with}}
		</section>
		<section class="z-style-section-schedule-fixed">
			{{#with week}}
				<div class="z-style-calendar-days {{add_class}}" {{{add_attrs}}}>
					{{#each content}}
						{{$make 'template-calendar-day-of-week' this}}
					{{/each}}
				</div>
			{{/with}}
			{{#with calendar}}
				<div class="z-style-calendar-days {{add_class}}" {{{add_attrs}}}>
					{{#each prev_month.content}}
						{{$make 'template-calendar-day-dimmed' this}}
					{{/each}}
					{{#each current_month.content}}
						{{$make 'template-calendar-day-plain' this}}
					{{/each}}	
					{{#each next_month.content}}
						{{$make 'template-calendar-day-dimmed' this}}
					{{/each}}	
				</div>
			{{/with}}
		</section>
	</div>
</script>

<script id="template-calendar-day-of-week" type="text/x-handlebars-template">
	<div class="z-style-schedule-day-entry z-style-calendar-day-of-week {{add_class}}" {{{add_attrs}}}>{{value}}</div>
</script>

<script id="template-calendar-day" type="text/x-handlebars-template">
	<div class="z-style-schedule-day-entry">
		<div class="z-style-button z-style-button-checkbox {{add_class}}" {{{add_attrs}}}>{{value}}</div>
	</div>
</script>

<script id="template-calendar-day-plain" type="text/x-handlebars-template">
	<div class="z-style-calendar-day-entry">
		{{$make 'template-button-plain' this}}
	</div>
</script>

<script id="template-calendar-day-dimmed" type="text/x-handlebars-template">
	<div class="z-style-calendar-day-entry">
		{{$make 'template-button-plain' this null null null null 'dimmed'}}
	</div>
</script>

<!-- *** *** *** *** *** -->
<!-- Табы (от 2 значений) -->
<!-- *** *** *** *** *** -->

<script id="template-tabs-wide" type="text/x-handlebars-template">
	<div class="z-style-tabs-group-wide {{add_class}}" {{{add_attrs}}}>
		{{#each this.content}}
			{{$mk this t='tabs-tab'}}
		{{/each}}
	</div>
</script>

<script id="template-tabs-inline" type="text/x-handlebars-template">
	<div class="z-style-tabs-group {{add_class}}" {{{add_attrs}}}>
		{{#each this.content}}
			{{$make 'template-tabs-tab' this null null null null ../style}}
		{{/each}}
	</div>
</script>

<script id="template-tabs-checkbox-wide" type="text/x-handlebars-template">
	<div class="z-style-tabs-group-wide {{add_class}}" {{{add_attrs}}}>
		{{#each this.content}}
			{{$make 'template-tabs-tab-checkbox' this}}
		{{/each}}
	</div>
</script>

<script id="template-tabs-checkbox-inline" type="text/x-handlebars-template">
	<div class="z-style-tabs-group {{add_class}}" {{{add_attrs}}}>
		{{#each this.content}}
			{{$make 'template-tabs-tab-checkbox' this}}
		{{/each}}
	</div>
</script>

<script id="template-tabs-tab" type="text/x-handlebars-template">
	<div class="z-style-tabs-group-td z-style-tabs-group-td-{{style}}">
		<div class="z-style-button z-style-tab-button z-style-button-overflow z-style-button-{{style}} {{add_class}}" {{{add_attrs}}}>{{value}}</div>
	</div>
</script>

<script id="template-tabs-tab-checkbox" type="text/x-handlebars-template">
	<div class="z-style-tabs-group-td">
		<div class="z-style-button z-style-button-checkbox {{add_class}}" {{{add_attrs}}}>{{value}}</div>
	</div>
</script>

<!-- *** *** *** *** *** -->
<!-- Слайдеры -->
<!-- *** *** *** *** *** -->

<script id="template-slider" type="text/x-handlebars-template">
	<div class="z-style-slider-wrapper">
		<div class="z-style-slider-container-{{style}} {{line.add_class}}" {{{line.add_attrs}}}>
			<div class="z-style-slider-line-{{style}}"></div>
		</div>
		<div class="z-style-slider-thumb-{{style}} {{thumb.add_class}}" {{{thumb.add_attrs}}}></div>	
	</div>
</script>

<!-- *** *** *** *** *** -->
<!-- Кнопки -->
<!-- *** *** *** *** *** -->

<script id="template-button" type="text/x-handlebars-template">
	<div class="z-style-button z-style-button-{{style}} {{add_class}}" {{{add_attrs}}}>{{#if icon}}{{> template-inline-icon}}{{/if}}{{value}}</div>
</script>

<script id="template-button-plain" type="text/x-handlebars-template">
	<div class="z-style-button z-style-button-plain z-style-button-{{style}} {{add_class}}" {{{add_attrs}}}>{{#if icon}}{{> template-inline-icon}}{{/if}}{{value}}</div>
	{{#if comment}}
		<div class="z-style-main-line-comment">{{comment}}</div>
	{{/if}}
</script>

<!-- *** *** *** *** *** -->
<!-- Layout lines: оболочки для линий — базовых кусков из которых состоит макет. Интерактивные отличаются от статичных тем, что оборачиваются в одну большую ссылку -->
<!-- *** *** *** *** *** -->

<!-- Линия судьбы -->
<script id="template-line" type="text/x-handlebars-template">
	{{> template-line-wrap-open}}
	{{> template-subline}}
	{{> template-line-wrap-close}}
</script>

<script id="template-line-wrap-open" type="text/x-handlebars-template">
	{{#if link}}<a href="{{link}}"{{else}}<div{{/if}} class="z-style-layout-line {{#if size}}z-style-{{size}}{{/if}} {{#if hover}}z-style-line-hover{{/if}} {{add_line_class}}" {{{add_line_attrs}}} data-bind="$$$lineHolder&&">
		{{#if table}}<div class="z-style-layout-line-table">{{/if}}
			{{#if title}}
				{{> template-key}}
			{{/if}}
			{{#if button}}
				{{$mk button t='button'}}
				{{> template-thin-ghost-block}}
			{{/if}}
			{{#unless title}}
				{{#if draggable}}
					{{> template-icon-drag}}
				{{/if}}
				{{#if ghost}}
					{{> template-ghost-block}}
				{{/if}}
			{{/unless}}
</script>

<script id="template-line-wrap-close" type="text/x-handlebars-template">
		{{#if table}}</div>{{/if}}
	{{#if link}}</a>{{else}}</div>{{/if}}
</script>

<!-- Линия с табами -->
<script id="template-tabs-line" type="text/x-handlebars-template">
	{{> template-line-wrap-open}}
		<div class="z-style-main-line">
			{{> template-subline-icons}}
			<div class="z-style-main-line-content">
				{{> template-tabs-wide this}}
			</div>
			{{> template-subline-status}}
		</div>
	{{> template-line-wrap-close}}
</script>

<!-- Линия с чекбоксом -->
<script id="template-checkbox-line" type="text/x-handlebars-template">
	{{> template-line-wrap-open}}
		<div class="z-style-main-line">
			<div class="z-style-main-line-content">
				<div class="z-style-main-line-content-block">
					<label class="z-style-checkbox-label"><input type="checkbox" class="z-style-checkbox {{add_class}}" {{{add_attrs}}} /><div>{{value}}</div></label>
				</div>
			</div>
			{{> template-subline-status}}
		</div>
	{{> template-line-wrap-close}}	
</script>

<!-- Линия с поиском -->
<script id="template-search-line" type="text/x-handlebars-template">
	{{> template-line-wrap-open}}
		<div class="z-style-main-line">
			<div class="z-style-main-line-content">
				<div class="z-style-main-line-content-block z-style-main-line-content-block-search">
					<div class="icon z-style-force-visibility z-style-search-icon">{{> template-inline-icon icon='z_cls_icon_search'}}</div>
					<input spellcheck="false" type="search" class="z-style-input-search {{add_class}}" placeholder="{{$res 'r_common_search'}}" value="{{value}}" {{{add_attrs}}}>
				</div>
			</div>
			{{> template-subline-status}}
		</div>
	{{> template-line-wrap-close}}	
</script>

<!-- Линия вида ключ-значение с многострочным инпутом -->
<script id="template-key-line-editable" type="text/x-handlebars-template">
	{{> template-line-wrap-open}}
		<div class="z-style-main-line">
			{{> template-subline-icons}}
			<div class="z-style-main-line-content">
				<div class="z-style-main-line-content-block z-style-force-normal-wrap">
					<div class="z-style-main-line-content-block-editable-wrapper">
						<div class="z-style-main-line-content-block-editable {{add_class}}" {{{add_attrs}}}  spellcheck="false" contenteditable="false" style="max-height: 95px">{{value}}</div>
						<div class="z-style-main-line-content-block-editable-shadow"></div>
						<div class="z-style-buttons-wrapper-left">
							{{#with default_buttons}}
								<div class="z-style-buttons-wrapper-left {{add_class}}" {{{add_attrs}}}>
									{{#each content}}
									<div class="z-style-main-line-content-block">{{> template-button-plain this style="day"}}</div>
									{{/each}}
								</div>
							{{/with}}
							{{#with save_buttons}}
								<div class="z-style-buttons-wrapper-left z-style-hidden {{add_class}}" {{{add_attrs}}}>
									{{#each content}}
									<div class="z-style-main-line-content-block">{{> template-button-plain this style="day"}}</div>
									{{/each}}
								</div>
							{{/with}}
						</div>
					</div>
				</div>
			</div>
			{{> template-subline-status}}
		</div>
	{{> template-line-wrap-close}}	
</script>

<!-- Оболочка для Main Line Value -->	
<script id="template-value-wrap-open" type="text/x-handlebars-template">
	{{> template-line-wrap-open}}
		{{> template-subline-wrap-open}}
</script>

<script id="template-value-wrap-close" type="text/x-handlebars-template">
		{{> template-subline-wrap-close}}
	{{> template-line-wrap-close}}	
</script>

<!-- *** *** *** *** *** -->
<!-- Main line и вспомогательные элементы. Использоваться вместе с оболочкой (из раздела сверху или специфичной для шаблона) -->
<!-- *** *** *** *** *** -->

<!-- Основные линии -->
<script id="template-subline" type="text/x-handlebars-template">
{{> template-subline-wrap-open}}{{#if html}}{{{value}}}{{else}}{{value}}{{/if}}{{> template-subline-wrap-close}}
</script>

<script id="template-subline-wrap-open" type="text/x-handlebars-template">
	{{#if part}}<div class="z-style-layout-line-table-cell-{{part}}">{{/if}}
		<div class="z-style-main-line {{#if size}}z-style-main-line-size-{{size}}{{/if}}" data-bind="$$$mainLineHolder&&">
			{{> template-subline-icons}}
			<div class="z-style-main-line-content {{#if size}}z-style-main-line-content-size-{{size}}{{/if}}">
				{{~#if prefix~}}
					<div class="z-style-main-line-content-block">
						<span class="z-style-main-line-content-block-overflow z_data_prefix z-style-main-line-prefix">{{prefix}}&nbsp;</span>
					</div>
				{{~/if~}}
					<div class="z-style-main-line-content-block {{#if wrap}}z-style-force-normal-wrap{{/if}} {{add_class}}" {{{add_attrs}}}>
						<span class="z-style-main-line-content-block-overflow">
							<span class="z-style-main-line-value z_data_value {{#if type}}z-style-{{type}}{{/if}} {{#if accent}}z-style-accent{{/if}}" data-bind="$$$mainLineValueHolder&&">{{~ null ~}}
</script>

<script id="template-subline-wrap-close" type="text/x-handlebars-template">
							{{~ null ~}}</span>
							{{#if comment}}{{#unless suffix}}
								<span class="z-style-main-line-comment z_data_comment">{{comment}}</span>
							{{/unless}}{{/if}}
						</span>
						{{#if input_style}}<input spellcheck="false" class="z-style-hidden z-style-input-{{input_style}} {{#if size}}z-style-input-size-{{size}}{{/if}} z_ctrl_input" type="{{input_type}}" {{#if input_pattern}}pattern="{{input_pattern}}"{{/if}}/>{{/if}}
					</div>
				{{~#if suffix~}}
					<div class="z-style-main-line-content-block">
						<span class="z-style-main-line-content-block-overflow">
							<span class="z-style-main-line-suffix z_data_suffix">&nbsp;{{suffix}}</span>
							{{#if comment}}
								<span class="z-style-main-line-comment z_data_comment">{{comment}}</span>
							{{/if}}
						</span>
					</div>
				{{~/if~}}
			</div>
			{{> template-subline-status}}
		</div>
	{{#if part}}</div>{{/if}}
</script>

<script id="template-key" type="text/x-handlebars-template">
	<div class="z-style-key-main-line">
		{{#if draggable}}
			{{> template-icon-drag}}
		{{/if}}
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		<div class="z-style-key-content z_data_title">{{~title~}}</div>
	</div>
</script>

<script id="template-inline" type="text/x-handlebars-template">
	<span class="z-style-inline {{#if type}}z-style-{{type}}{{/if}} {{#if size}}z-style-{{size}}{{/if}} {{add_class}}" {{{add_attrs}}}>{{value}}</span>
</script>

<!-- *** *** *** *** *** -->
<!-- Статус и действия -->
<!-- *** *** *** *** *** -->

<script id="template-subline-icons" type="text/x-handlebars-template">
	<div class="z-style-main-line-pre-status {{#if size}}z-style-main-line-status-size-{{size}}{{/if}} z_box_pre_status" data-bind="$$$mainLinePreStatusHolder&&">
		{{#if spinner}}
			<div class="z-style-main-line-spinner"></div>
		{{/if}}
		{{#if pre_actions}}
			{{#each pre_actions}}
				{{> template-icon-action-visible}}
			{{/each}}
		{{/if}}
		{{#if pre_statuses}}
			{{#each pre_statuses}}
				{{#if icon}}
					{{> template-icon-status}}
				{{else}}
					{{> template-tag-status}}
				{{/if}}
			{{/each}}
		{{/if}}
	</div>
</script>

<script id="template-subline-status" type="text/x-handlebars-template">
	<div class="z-style-main-line-status {{#if size}}z-style-main-line-status-size-{{size}}{{/if}} z_box_status">
		{{#if statuses}}
			{{#each statuses}}
				{{#if icon}}
					{{> template-icon-status}}
				{{else}}
					{{> template-tag-status}}
				{{/if}}
			{{/each}}
		{{/if}}
		{{#if status}}
			<div class="z-style-main-line-status-text">{{status}}</div>
		{{/if}}
		{{#if actions}}
			{{#each actions}}
				{{> template-icon-action}}
			{{/each}}
		{{/if}}
	</div>
</script>

<!-- *** *** *** *** *** -->
<!-- Иконки -->
<!-- *** *** *** *** *** -->

<script id="template-tag-status" type="text/x-handlebars-template">
	<div class="icon z-style-tag-wrapper z-style-force-visibility {{add_class}}" {{{add_attrs}}}>
		<div class="z-style-tag z-style-bg-{{tag}}"></div>
	</div>
</script>

<script id="template-icon-status" type="text/x-handlebars-template">
	<div class="icon z-style-force-visibility {{add_class}}" {{{add_attrs}}}>{{> template-inline-icon}}</div>
</script>

<script id="template-icon-action" type="text/x-handlebars-template">
	<div class="icon icon-action {{add_class}}" {{{add_attrs}}}>{{> template-inline-icon}}</div>
</script>

<script id="template-icon-action-visible" type="text/x-handlebars-template">
	<div class="icon z-style-force-visibility icon-action {{add_class}}" {{{add_attrs}}}>{{> template-inline-icon}}</div>
</script>

<script id="template-icon-drag" type="text/x-handlebars-template">
	<div class="icon icon-drag {{add_class}}" {{{add_attrs}}}>{{> template-inline-icon icon='z_cls_icon_drag'}}</div>
</script>

<script id="template-inline-icon" type="text/x-handlebars-template">
	{{#if color}}
		<div class="z-style-icon-bg z-style-bg-{{color}}"><i class="icon-inline z-style-icon-on-bg {{icon}}"></i></div>
	{{else}}
		<i class="icon-inline {{icon}}"></i>
	{{/if}}
</script>

<!-- *** *** *** *** *** -->
<!-- Декоративные элементы и разделители -->
<!-- *** *** *** *** *** -->

<script id="template-shadow" type="text/x-handlebars-template">
	<div class="white-shadow">&nbsp;</div>
</script>

<script id="template-ghost-block" type="text/x-handlebars-template">
	{{#repeat ghost}}
		<div class="z-style-ghost-block">&nbsp;</div>
	{{/repeat}}
</script>

<script id="template-thin-ghost-block" type="text/x-handlebars-template">
	<div class="z-style-thin-ghost-block">&nbsp;</div>
</script>

<script id="template-separator" type="text/x-handlebars-template">
	<div class="z-style-separator {{add_class}}" {{{add_attrs}}}>&nbsp;</div>
</script>

<script id="template-cut" type="text/x-handlebars-template">
	<div class="z-style-cut-wrapper">
		<div class="z-style-cut-line-wrapper">
			<div class="z-style-cut-line"></div>
		</div>
		<div class="z-style-cut-icon">
			{{> template-inline-icon icon='z_cls_icon_scissors'}}
		</div>
		<div class="z-style-cut-line-wrapper">
			<div class="z-style-cut-line"></div>
		</div>
	</div>
</script>

<script id="template-deprecated-line" type="text/x-handlebars-template">
	<div class="z-style-layout-line" style="font-weight:bold; color:darkred">{{> template-subline value="D E P R E C A T E D"}}</div>
</script>

<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<!-- Устаревшее. Не следует делать шаблоны на основе этих элементов -->
<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->

<!-- Таблица -->
<script id="template-table-line" type="text/x-handlebars-template">
	{{> template-deprecated-line}}
	<!-- {{> template-line-wrap-open}}
		<div class="z-style-layout-line-table">
			{{#each cells}}
				<div class="z-style-layout-line-table-cell-{{part}}">
					{{> template-subline}}
				</div>
			{{/each}}
		</div>
	{{> template-line-wrap-close}} -->
</script>

<script id="template-status-string" type="text/x-handlebars-template">
	<div class="z-style-main-line-status-text {{add_class}}" {{{add_attrs}}}>{{value}}</div>
</script>

<!-- Раскрывающийся заголовок, показывается полужирным -->
<script id="template-basic-line-expand" type="text/x-handlebars-template">
	{{> template-deprecated-line}}
	<!--<div class="z-style-layout-line z-style-small-title {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{> template-subline icon="z_cls_icon_expanded"}}
	</div>-->
</script>	

<!-- Раскрывающийся заголовок, показывается полужирным с ховером -->
<script id="template-hover-line-expand" type="text/x-handlebars-template">
	{{> template-deprecated-line}}
	<!--<a href="#" class="z-style-layout-line z-style-small-title {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		<div class="z-style-main-line">
			<div class="z-style-main-line-icon">{{> template-icon-status icon="z_cls_icon_expanded"}}</div>
			{{> template-subline-content-static}}
			{{> template-subline-status}}
		</div>
	</a>-->
</script>

<script id="template-subline-content-static" type="text/x-handlebars-template"></script>

<!-- Большой статичный заголовок -->
<script id="template-head-line-static" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-big-title {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{> template-subline size='big-title'}}
	</div>
</script>

<!-- Большой интерактивный заголовок -->
<script id="template-head-line-interactive" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-big-title {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{> template-subline type='interactive' size='big-title'}}
	</div>
</script>

<!-- Малый статичный заголовок -->
<script id="template-bold-line-static" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-small-title {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-subline}}
	</div>
</script>

<!-- Малый интерактивный заголовок -->
<script id="template-bold-line-interactive" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-small-title {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-subline type='interactive'}}
	</div>
</script>

<!-- Обыкновенная статичная линия -->
<script id="template-basic-line-static" type="text/x-handlebars-template">
	<div class="z-style-layout-line {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-subline}}
	</div>
</script>

<!-- Обыкновенная интерактивная линия -->
<script id="template-basic-line-interactive" type="text/x-handlebars-template">
	<div class="z-style-layout-line {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-subline type='interactive'}}
	</div>
</script>

<!-- Серая статичная линия -->
<script id="template-basic-line-grey" type="text/x-handlebars-template">
	<div class="z-style-layout-line {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-subline type='grey'}}
	</div>
</script>

<!-- Статичная линия с ховером-->
<script id="template-hover-line-static" type="text/x-handlebars-template">
	{{#if link}}
		<a href="{{link}}" class="z-style-layout-line z-style-line-hover {{add_line_class}}" {{{add_line_attrs}}}>
	{{else}}
		<div class="z-style-layout-line z-style-line-hover {{add_line_class}}" {{{add_line_attrs}}}>
	{{/if}}
		{{#if draggable}}
			{{> template-icon-drag}}
		{{/if}}
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{> template-subline}}
	{{#if link}}
		</a>
	{{else}}
		</div>
	{{/if}}
</script>

<!-- Интерактивная линия с ховером-->
<script id="template-hover-line-interactive" type="text/x-handlebars-template">
	<div class="z-style-layout-line z-style-line-hover {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if draggable}}
			{{> template-icon-drag}}
		{{/if}}
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{> template-subline type='interactive'}}
	</div>
</script>

<!-- Малый заголовок с ховером-->
<script id="template-hover-bold-line-static" type="text/x-handlebars-template">
	{{#if link}}
		<a href="{{link}}" class="z-style-layout-line z-style-line-hover z-style-small-title {{add_line_class}}" {{{add_line_attrs}}}>
	{{else}}
		<div class="z-style-layout-line z-style-line-hover z-style-small-title {{add_line_class}}" {{{add_line_attrs}}}>
	{{/if}}
		{{#if draggable}}
			{{> template-icon-drag}}
		{{/if}}
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		{{> template-subline}}
	{{#if link}}
		</a>
	{{else}}
		</div>
	{{/if}}
</script>

<!-- Статичная линия вида ключ-значение -->
<script id="template-key-line-static" type="text/x-handlebars-template">
	<div class="z-style-layout-line {{add_line_class}}" {{{add_line_attrs}}}>
		{{> template-key}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-subline}}
	</div>
</script>

<!-- Интерактивная линия вида ключ-значение -->
<script id="template-key-line-interactive" type="text/x-handlebars-template">
	<div class="z-style-layout-line {{add_line_class}}" {{{add_line_attrs}}}>
		{{> template-key}}
		{{#if button}}
			{{$make 'template-button' button}}
			{{> template-thin-ghost-block}}
		{{/if}}
		{{> template-subline type='interactive'}}
	</div>
</script>

<!-- Пустая линия -->
<script id="template-empty-line" type="text/x-handlebars-template">
	<div class="z-style-layout-line {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		<div class="z-style-main-line {{#if size}}z-style-main-line-size-{{size}}{{/if}}">
			{{> template-subline-icons}}
			<div class="z-style-main-line-content {{add_class}}" {{{add_attrs}}}></div>
			{{> template-subline-status}}
		</div>
	</div>
</script>

<!-- Многострочная линия -->
<script id="template-multi-line" type="text/x-handlebars-template">
	<div class="z-style-layout-line {{add_line_class}}" {{{add_line_attrs}}}>
		{{#if ghost}}
			{{> template-ghost-block}}
		{{/if}}
		<div class="z-style-main-line">
			{{> template-subline-icons}}
			<div class="z-style-main-line-content">
				<div class="z-style-main-line-content-block z-style-force-normal-wrap {{add_class}}" {{{add_attrs}}}>
					<span class="z-style-main-line-content-block-overflow z-style-black">{{value}}</span>
				</div>
			</div>
			{{> template-subline-status}}
		</div>
	</div>
</script>

<script id="template-inline-static" type="text/x-handlebars-template">
	<span class="{{add_class}}" {{{add_attrs}}}>{{value}}</span>
</script>

<script id="template-inline-interactive" type="text/x-handlebars-template">
	<span href="#" class="z-style-interactive {{add_class}}" {{{add_attrs}}}>{{value}}</span>
</script>