<!-- *** *** *** *** *** -->
<!-- Превью файлов -->
<!-- *** *** *** *** *** -->

<script id="template-preview-thumbnail-line" type="text/x-handlebars-template">
	<a href="#" class="z-style-layout-line z-style-line-hover {{add_line_class}}" {{{add_line_attrs}}}>
		<div class="z-style-preview-thumbnail-wrapper">
			<div class="z-style-preview-thumbnail-picture">
				{{#if thumbnail_url}}
					<div class="z-style-preview-thumbnail-picture-image" style="background-image: url('{{thumbnail_url}}')"></div>
				{{else}}
					<div class="z-style-preview-thumbnail-picture-html"><div>{{extension}}</div></div>
				{{/if}}
			</div>
			<div class="z-style-preview-thumbnail-text">
				<div {{#if add_class}}class="{{add_class}}"{{/if}} {{{add_attrs}}}>{{value}}</div>
				<div class="z-style-preview-thumbnail-text-size">{{size}} {{unit}}</div>
			</div>
		</div>
	</a>
</script>

<script id="template-preview-content-text" type="text/x-handlebars-template">
	<div class="z-style-preview-frame-content-text-wrapper">
		<div class="z-style-preview-frame-content-text">
			{{#each content}}
				<p class="z-style-preview-frame-content-text-paragraph">{{this}}</p>
			{{/each}}
			{{#if is_cut}}
				{{> template-cut}}
				<p class="z-style-preview-frame-content-text-cut">{{$res 'r_preview_cut'}}</p>
			{{/if}}
		</div>
		<div class="z-style-preview-frame-content-text-margin">&nbsp;</div>
	</div>
</script>

<script id="template-preview-content-picture" type="text/x-handlebars-template">
	<div class="z-style-preview-frame-content-picture-wrapper {{add_class}}" {{{add_attrs}}}>
		<a href="{{url}}" target="_blank" class="z-style-preview-frame-content-picture {{content.add_class}}" style="background-image: url('{{content.url}}');" {{content.add_attrs}}>&nbsp;</a>
	</div>
</script>

<script id="template-preview-content-controls" type="text/x-handlebars-template">
	<div class="z-style-preview-frame-content-controls-wrapper {{add_class}}" {{{add_attrs}}}>
		{{#with arrows_line}}
			<div class="z-style-wide {{add_class}}" {{{add_attrs}}}>
				<div class="z-style-arrows-wrapper">
					{{$make 'template-button-plain' prev null null null null 'night'}}
					<div class="z-style-arrows-status">{{$make 'template-inline-static' status}}</div>
					{{$make 'template-button-plain' next null null null null 'night'}}
				</div>
				{{> template-separator}}
			</div>
		{{/with}}
		{{#with slider_line}}
			<div class="z-style-wide {{add_class}}" {{{add_attrs}}}>
				<div class="z-style-wide">
					<div class="z-style-slider-wrapper {{slider.add_class}}" {{{slider.add_attrs}}}></div>
				</div>
				{{> template-separator}}
			</div>
		{{/with}}
		{{#with buttons_line}}
			<div class="z-style-wide {{add_class}}" {{{add_attrs}}}>
				<div class="z-style-wide">
					<div class="z-style-buttons-wrapper">
						{{#if tabs}}
							{{$make 'template-tabs-inline' tabs null null null null 'night'}}
						{{/if}}
						{{> template-thin-ghost-block}}
						{{#each buttons}}
							{{$make 'template-button-plain' this null null null null 'night'}}
						{{/each}}
					</div>
				</div>
			</div>
		{{/with}}
	</div>
</script>