<script id="template-preview" type="text/x-handlebars-template" include="common.html common_preview.html">
	<div class="z-style-preview-wrapper">
		<div class="z-style-preview-frame-thumbnails z_cls_preview_frame_thumbnails">
			{{#each thumbnails}}
				{{$make 'template-preview-thumbnail-line' this}}
			{{/each}}
		</div>
		<div class="z-style-preview-frame-content z_cls_preview_frame_content">
			<div class="z-style-preview-frame-content-main z_cls_preview_frame_content_main"></div>
			<div class="z-style-modal-close icon icon-action z_cls_modal_close">
				{{> template-inline-icon icon='z_cls_icon_close_modal'}}
			</div>
			<div class="z-style-preview-frame-content-controls z_cls_preview_frame_content_controls">
				{{> template-preview-content-controls controls}}
			</div>
		</div>
	</div>
</script>