<script id="template-settings-spread-middle" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$make 'template-head-line-interactive' title}}
	</section>
	<section class="section">
		{{#if test}}
			{{$make 'template-basic-line-interactive' test}}
			{{> template-separator}}
		{{/if}}
		{{#if ranges}}
			{{$make 'template-bold-line-static' null null 'r_common_range'}}
			{{#each ranges}}
				{{$make 'template-hover-line-static' this}}
			{{/each}}
			{{> template-separator}}
		{{/if}}
		{{#if settings}}
			{{$make 'template-bold-line-static' null null 'r_common_settings'}}
			{{#each settings}}
				{{$make 'template-hover-line-static' this}}
			{{/each}}
			{{> template-separator}}
		{{/if}}
	</section>
</script>