<script id="template-settings-archive-connection" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$make 'template-head-line-static' null null 'r_settings_archive_connection_title'}}
	</section>
	<section class="section">
		{{$make 'template-key-line-interactive' server 'r_common_server'}}
		{{$make 'template-key-line-interactive' db 'r_common_db'}}
		{{$make 'template-key-line-interactive' user_type 'r_common_user_type'}}
		{{$make 'template-key-line-interactive' user 'r_common_user'}}
		{{$make 'template-key-line-interactive' password 'r_common_password'}}
	</section>
</script>