<script id="template-modal" type="text/x-handlebars-template" include="common.html common_preview.html">
	<div class="z-style-modal-wrapper">
		<div class="z-style-modal">
			<div class="z-style-modal-title">
				{{$make 'template-bold-line-static' null null "%%%Заголовок модального окна"}}
			</div>
			<div class="z-style-modal-frame">
				{{$make 'template-basic-line-static' null null "%%%Какая-то строка"}}
				{{$make 'template-basic-line-static' null null "%%%Еще какая-то строка"}}
				{{$make 'template-basic-line-static' null null "%%%И еще немного"}}
				{{> template-separator}}
				{{$make 'template-basic-line-interactive' null null "%%%Ссыль куда-то"}}
			</div>
			<div class="z-style-modal-close icon icon-action z_cls_modal_close">
				{{> template-inline-icon icon='z_cls_icon_close_modal'}}
			</div>
		</div>
	</div>
</script>