<script id="template-settings-discovery-db" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$make 'template-head-line-static' title null 'r_settings_discovery_db_title'}}
	</section>
	<section class="section">
		{{#wrap wrapper_for_dbs}}
			{{#wrap wrapper_container}}
				{{$make 'template-hover-line-expand' dbs_title}}
				{{$make 'template-key-line-interactive' dbs_db 'r_common_db_string' null 1}}
				{{$make 'template-key-line-interactive' dbs_query 'r_common_query' null 1}}
				{{$make 'template-key-line-interactive' dbs_key_column 'r_common_key_column' null 1}}
				{{$make 'template-key-line-interactive' dbs_data_column 'r_common_data_column' null 1}}
				{{$make 'template-key-line-interactive' dbs_data_type 'r_common_data_type' null 1}}
				{{$make 'template-key-line-interactive' dbs_data_encoding 'r_common_data_encoding' null 2}}
				{{$make 'template-key-line-interactive' dbs_schedule 'r_common_schedule' null 1}}
				{{$make 'template-basic-line-interactive' dbs_test null null 1}}
				{{> template-separator}}
			{{/wrap}}
		{{/wrap}}
		{{#wrap wrapper_for_sp_servers}}
			{{#wrap wrapper_container}}
				{{$make 'template-hover-line-expand' sp_servers_title}}
				{{$make 'template-key-line-interactive' sp_servers_server 'r_common_server' null 1}}
				{{$make 'template-key-line-interactive' sp_servers_user 'r_common_user' null 1}}
				{{$make 'template-key-line-interactive' sp_servers_password 'r_common_password' null 1}}
				{{$make 'template-key-line-interactive' sp_servers_schedule 'r_common_schedule' null 1}}
				{{$make 'template-basic-line-interactive' sp_servers_test null null 1}}
				{{> template-separator}}
			{{/wrap}}
		{{/wrap}}
	</section>
</script>