<script id="template-dev-polygon" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$mk value='Полигон' type='static' size='big-title'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Текстовые части линии' type='static' size='big-title'}}
		{{$mk title='title' value='value' suffix='suffix' prefix='prefix' comment='comment' status='status'}}
		{{$mk type='static' value='Любой параметр можно (и нужно, когда он статический) передавать с префиксом z_resource_, например z_resource_value. Тогда в соответствующем поле будет использована строка из ресурсов с этим ключем.' wrap=true}}
	</section>
	<section class="section">
		{{$mk type='static' value='Тип (type)' type='static' size='big-title'}}
		{{$mk value='interactive (default)'}}
		{{$mk type='static' value='static'}}
		{{$mk type='grey' value='grey'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Размеры (size)' type='static' size='big-title'}}
		{{$mk type='static' value='big-title' size='big-title'}}
		{{$mk type='static' value='small-title' size='small-title'}}
		{{$mk type='static' value='default'}}
		{{$mk type='static' value='tiny' size='tiny'}}
		{{$mk type='static' value='tiny-title' size='tiny-title'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Ховер (hover) — также влияет на видимость actions' type='static' size='big-title'}}
		{{$mk mk_action type='static' value='false (default)' hover=false}}
		{{$mk mk_action type='static' value='true' hover=true}}
	</section>
	<section class="section">
		{{$mk type='static' value='Ссылка (link) — вставляет передаваемую ссылку в контейнер линии' type='static' size='big-title'}}
		{{$mk type='static' hover=true link='http://google.com' value='http://google.com'}}
		{{$mk type='static' hover=true link='#' value='#'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Отступ (ghost)' type='static' size='big-title'}}
		{{$mk type='static' ghost=0 value='0'}}
		{{$mk type='static' ghost=1 value='1'}}
		{{$mk type='static' ghost=2 value='2 и т.д.'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Переносы (wrap)' type='static' size='big-title'}}
		{{$mk type='static' title='false (default)' value='За год до того как Паниковский нарушил конвенцию, проникнув в чужой эксплуатационный участок, в городе Арбатове появился первый автомобиль. Основоположником автомобильного дела был шофер по фамилии Козлевич.' wrap=false}}
		{{$mk type='static' title='true' value='За год до того как Паниковский нарушил конвенцию, проникнув в чужой эксплуатационный участок, в городе Арбатове появился первый автомобиль. Основоположником автомобильного дела был шофер по фамилии Козлевич.' wrap=true}}
	</section>
	<section class="section">
		{{$mk type='static' value='HTML (html) — режим отображения html в шаблоне' type='static' size='big-title'}}
		{{$mk type='static' html=false value='<em>false (default)</em>'}}
		{{$mk type='static' html=true value='<em>true</em>'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Спиннер (spinner) — генерирует контейнер для спиннера' type='static' size='big-title'}}
		{{$mk type='static' spinner=false value='false (default)'}}
		{{$mk type='static' spinner=true value='true'}}
		{{$mk type='static' value='На полигоне используется библиотека для генерации спиннера, в другом месте это будет пустой контейнер. Настройки: {lines: 9, length: 3, width: 2, radius: 3, trail: 50, zIndex: 0}' wrap=true}}
	</section>
	<section class="section">
		{{$mk type='static' value='Икнока перетаскивания (draggable)' type='static' size='big-title'}}
		{{$mk type='static' draggable=false value='false (default)'}}
		{{$mk type='static' draggable=true value='true'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Инпут (input) — вставляет скрытый инпут соответствующего типа' type='static' size='big-title'}}
		{{$mk title='text' value='Строка произвольной длины: За год до того как Паниковский нарушил конвенцию, проникнув в чужой эксплуатационный участок, в городе Арбатове появился первый автомобиль. Основоположником автомобильного дела был шофер по фамилии Козлевич.' input='text'}}
		{{$mk title='short-text' value='Небольшой текст, например, имя пользователя' input='short-text'}}
		{{$mk title='number' value='100' suffix='МБ' input='number'}}
		{{$mk title='email' value='alex.tewpin@gmail.com' input='email'}}
		{{$mk title='date' value='01.12.14' input='date'}}
		{{$mk title='time' value='18:42' input='time'}}
		{{$mk title='ip' value='192.186.152.125' input='ip'}}
		{{$mk title='url' value='google.com' input='url'}}
		{{$mk title='tel' value='+7 916 319 98 28' input='tel'}}
		{{$mk title='password' value='Изменить' input='password'}}
	</section>
		<section class="section">
		{{$mk type='static' value='Кнопка (button) — генерирует кнопку в начале линии' type='static' size='big-title'}}
		{{$mk type='static' value='Нельзя использовать в шаблоне. В кнопке может быть икнока' wrap=true}}
		{{$mk mk_button type='static' value='Value'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Иконки и теги' type='static' size='big-title'}}
		{{$mk type='static' value='Нельзя использовать в шаблоне, следует передать массив с объектами в данных. Для отрисовки икноки используется ключ icon, а для тега — tag' wrap=true}}
		{{$mk mk_pre_actions type='static' value='pre_actions'}}
		{{$mk mk_pre_statuses type='static' value='pre_statuses'}}
		{{$mk mk_actions type='static' value='actions'}}
		{{$mk mk_statuses type='static' value='statuses'}}
		{{$mk mk_all_icons type='static' value='Все вместе'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Атипичные строки' type='static' size='big-title'}}
		{{$mk tabs_wide t='tabs-line'}}
		{{$mk t='checkbox-line' value='Чекбокс (checkbox-line)'}}
		{{$mk key_line_editable t='key-line-editable'}}
		{{$mk empty_line t='empty-line'}}
		{{> template-separator}}
		{{$mk type='static' value='Строка поиска (search-line)'}}
		{{$mk t='search-line'}}
	</section>
	<section class="section">
		{{$mk type='static' value='Разные штуки' type='static' size='big-title'}}
		{{#mkwrap table_line t='line-wrap' type='static' table=true}}
			{{$mk table_line.cell1 t='subline' type='static' part=3}}
			{{$mk table_line.cell2 t='subline' type='static' wrap=true part=3}}
			{{$mk table_line.cell3 t='subline' type='interactive' part=6 input='text'}}
		{{/mkwrap}}
		{{#mkwrap table_line t='value-wrap' type='static'}}
			Строк с несколькими интерактивными элементами в контейнере value: вот {{$mk value='первый' t='inline'}}, а вот {{$mk value='второй' t='inline'}}.
		{{/mkwrap}}
		{{$mk input_full}}
		{{$mk input_full t='separator'}}
		{{> template-dev-tooltip}}
		{{> template-dev-error}}
	</section>
</script>