<script id="template-dev-mk" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$mk type='static' value='$mk' size='big-title'}}
	</section>
	<section class="section">
		{{$mk type='static' value='$mk это хелпер для Handlebars сделанный на замену $make. Он позволяет передавать любые параметры как в объекте с данными, так и в строке шаблона. В последнем случае каждый параметр подписан на манер HTML-атрибутов, а какой-то определенный порядок не требуется. Кроме того $mk значительно лаконичнее.' wrap=true}}
	</section>
	<section class="section">
		{{$mk type='static' value='Примеры' size='big-title'}}
		{{$mk type='static' value='По умолчанию создается интерактивная линия нормального размера' size='small-title' wrap=true}}
		{{$mk type='static' value='{{$mk value=\'Пример шаблона\'}}'}}
		{{$mk value='Пример шаблона'}}
		{{> template-separator}}
		{{$mk type='static' value='Хелпер принимает единственный и опциональный объект — данные' size='small-title' wrap=true}}
		{{$mk type='static' value='{{$mk icon_data value=\'Пример с данными\'}}'}}
		{{$mk icon_data value='Пример с данными'}}
		{{> template-separator}}
		{{$mk type='static' value='Для создания других шаблонов есть атрибут «t»' size='small-title' wrap=true}}
		{{$mk type='static' title='{{$mk t=\'search-line\'}}' value='«template-» можно смело опускать'}}
		{{$mk t='search-line'}}
		{{> template-separator}}
		{{$mk type='static' value='Инпут' size='small-title' wrap=true}}
		{{$mk type='static' value='{{$mk value=\'Клик!\' input=\'text\'}}'}}
		{{$mk value='Клик!' input='text'}}
		{{> template-separator}}
		{{$mk type='static' value='Строка с кучей текста' size='small-title' wrap=true}}
		{{$mk type='static' value='{{$mk type=\'static\' value=\'За год до того...\' wrap=true}}'}}
		{{$mk type='static' value='За год до того как Паниковский нарушил конвенцию, проникнув в чужой эксплуатационный участок, в городе Арбатове появился первый автомобиль. Основоположником автомобильного дела был шофер по фамилии Козлевич.' wrap=true}}
				{{> template-separator}}
		{{$mk type='static' value='Ховер и ссылка' size='small-title' wrap=true}}
		{{$mk type='static' value='{{$mk type=\'static\' value=\'Строка с ховером\' link=\'#\' hover=true}}'}}
		{{$mk type='static' value='Строка с ховером' link='#' hover=true}}
		{{> template-separator}}
		{{$mk type='static' value='Все сразу (не делайте так!)' size='small-title' wrap=true}}
		{{$mk type='static' value='{{$mk full_data}}'}}
		{{$mk full_data}}
	</section>
</script>