<script id="template-settings-ocr-general" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$make 'template-head-line-static' null null 'r_settings_ocr_general_title'}}
	</section>
	<section class="section">
		{{$make 'template-key-line-interactive' ocr_core 'r_common_ocr_core'}}
		{{$make 'template-key-line-interactive' language 'r_common_language' null 1}}
		{{> template-separator}}
		{{$make 'template-basic-line-interactive' test}}
	</section>
</script>