<script id="template-reports-incident-mail" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$mk title size='big-title'}}
	</section>
	<section class="section">
		{{$mk source}}
		{{#mkwrap channel t='value-wrap' type='static' wrap=true}}
			{{$mk channel.data_description t='inline' type='static'}} ({{$mk channel.data_mail t='inline'}})
		{{/mkwrap}}
		{{> template-separator}}
		{{$mk recipients_title type='static' size='small-title' link='#' hover=true}}
			{{$mk DEMO value='Александр Корейко' suffix='(akoreyko@gmail.com)' ghost=1}}
			{{$mk DEMO value='egorunov@gmail.com' prefix='CC:' ghost=1}}
			{{$mk DEMO value='dgorunova@gmail.com' prefix='BCC:' ghost=1}}
			{{> template-separator}}
		{{$mk policies_title type='static' size='small-title' link='#' hover=true}}
			{{$mk DEMO_policy1 value='Общая политика' ghost=1}}
			{{$mk DEMO type='static' value='<strong>Интернет</strong><br/>Почта Яндекса' size='tiny' wrap=true html=true ghost=2}}
			{{> template-separator}}
			{{$mk DEMO_policy2 value='Специальная политика' ghost=1}}
			{{$mk DEMO type='static' value='<strong>Пользователь</strong><br/>Александр Тюпин' size='tiny' wrap=true html=true ghost=2}}
			{{> template-separator}}
			{{$mk DEMO_policy3 value='Отлов злодеев' ghost=1}}
			{{$mk DEMO type='static' value='<strong>Соответствует шаблону !######!*</strong><br/>Текст письма: ...твои, держи! Пароль к архиву <span class="z-style-accent">503930</span>. Думаю, что этого хватит чтобы понять ситуацию' size='tiny' wrap=true html=true ghost=2}}
			{{$mk DEMO type='static' value='Отправлено уведомление на ademidov@gmail.com' size='tiny-title' ghost=2}}
			{{$mk DEMO type='static' value='Блокировка' size='tiny-title' ghost=2}}
			{{> template-separator}}
		{{$mk details_title type='static' size='small-title' link='#' hover=true}}
			{{$mk DEMO title='Отправитель' value='Александр Тюпин' ghost=1}}
			{{$mk DEMO title='Получатель' value='Евгений Горюнов' ghost=1}}
			{{$mk DEMO title='IP отправителя' value='192.168.0.52' ghost=1}}
			{{$mk DEMO title='IP получателя' value='192.168.0.14' ghost=1}}
			{{> template-separator}}
		{{$mk tags_title type='static' size='small-title' link='#' hover=true}}
			{{$mk DEMO value='Проверено' suffix='(Офицер Петров)' ghost=1}}
			{{$mk DEMO value='Черная метка' suffix='(Черная политика)' ghost=1}}
	</section>
	<section class="section">
		{{$mk type='static' value='Файлы' size='big-title'}}
		{{$mk value='Секреты.doc' comment='0,3 МБ' accent=true}}
		{{$mk value='Отчетность за год.doc' comment='1,5 МБ'}}
		{{$mk value='Черная бухгалтерия.doc' comment='7,2 МБ'}}
		{{> template-separator}}
		<div class="z-style-incident-thumbnails-wrapper">
			{{#each thumbnails}}
				{{> template-reports-incident-thumbnail this}}
			{{/each}}
		</div>
	</section>
	<section class="section">
		{{$mk type='static' value='Сообщение' size='big-title'}}
		{{$mk type='static' value='Файлы-файлики' size='small-title'}}
		{{$mk type='static' value='Привет, Александр. Я все-таки решил подло предлать родное предприятие. Все <span class="z-style-accent">секреты</span> твои, держи! Пароль к архиву <span class="z-style-accent">503930</span>.' wrap=true html=true}}
	</section>
</script>