<script id="template-reports-archive" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$mk title size='big-title'}}
	</section>
	<section class="section">
		{{$mk sort t='reports-archive-sort' type='static'}}
		{{$mk prefix='За' value='сегодня'}}
		{{> template-separator}}
		{{$mk conditions_strings type='static' size='small-title'}}
		{{$mk DEMOconditionString value='секрет' hover=true}}
		{{$mk DEMOconditionString value='тайна' hover=true}}
		{{> template-separator}}
		{{$mk conditions_complex type='static' size='small-title'}}
		{{$mk DEMOconditionComplex value='Адресаты содержат «kisa» или «bender»' type='static' link='#' hover=true}}
		{{$mk DEMOconditionComplex value='Отправитель входит в группу «designers»' type='static' link='#' hover=true}}
		{{> template-separator}}
	</section>
</script>