<script id="template-dev-references-left" type="text/x-handlebars-template" include="common.html">
	<section class="section">
		{{$make 'template-hover-line-static' null null '%%%Пользователи'}}
		{{$make 'template-hover-line-static' null null '%%%Словари'}}
		{{$make 'template-hover-line-static' null null '%%%Отпечатки'}}
		{{$make 'template-hover-line-static' null null '%%%Устройства'}}
		{{$make 'template-hover-line-static' null null '%%%Условия'}}
	</section>
</script>