<script id="template-dev-references-users" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$make 'template-head-line-static' cdata.iconMenu null '%%%Пользователи'}}
		{{$make 'template-basic-line-interactive' group}}
		{{> template-separator}}
		{{$make 'template-basic-line-search'}}
	</section>
	<section class="section">
		{{$make 'template-hover-line-expand' null null '%%%zecurion.com'}}
			{{$make 'template-hover-line-expand' null null '%%%Программисты' 1}}
				{{#repeat 8}}{{$make 'template-hover-line-static' null null '%%fullname' 2}}{{/repeat}}
			{{$make 'template-hover-line-expand' null null '%%%Дизайнеры' 1}}
				{{#repeat 4}}{{$make 'template-hover-line-static' null null '%%fullname' 2}}{{/repeat}}
			{{$make 'template-hover-line-expand' null null '%%%Бухгалтерия' 1}}
				{{#repeat 2}}{{$make 'template-hover-line-static' null null '%%fullname' 2}}{{/repeat}}
		{{$make 'template-hover-line-expand' null null '%%%test.zecurion.com'}}
			{{#repeat 2}}{{$make 'template-hover-line-static' null null '%%fullname' 1}}{{/repeat}}
		{{$make 'template-hover-line-expand' null null '%%%dev.zecurion.com'}}
			{{#repeat 3}}{{$make 'template-hover-line-static' null null '%%fullname' 1}}{{/repeat}}
	</section>
</script>