<script id="template-settings-left" type="text/x-handlebars-template" include="common.html">
	<section class="head-section">
		{{$make 'template-head-line-static' server_title null 'r_common_settings'}}
	</section>
	<section class="section">
		{{$make 'template-hover-line-static' server_general null 'r_common_general_settings'}}
		{{$make 'template-hover-line-static' server_licenses null 'r_common_licenses'}}
		{{$make 'template-hover-line-static' server_pcs null 'r_common_pcs'}}
		{{$make 'template-hover-line-static' server_access null 'r_common_access'}}
		{{$make 'template-hover-line-static' server_event_reactions null 'r_settings_event_reactions_title'}}
	</section>
	<section class="section">
		{{$make 'template-head-line-static' spread_title null 'r_settings_left_spread_title'}}
		{{#wrap wrapper_for_spread}}
			{{#wrap wrapper_container}}
				{{$make 'template-bold-line-static' spread_section_title}}
				{{#wrap wrapper_for_spread_section}}
					{{#wrap wrapper_container_section}}
						{{$make 'template-hover-line-static' spread_section_line}}
					{{/wrap}}
				{{/wrap}}
			{{> template-separator}}
			{{/wrap}}
		{{/wrap}}
	</section>
</script>