@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot');
	src: url('fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	@include user-select(none);
	height: $font-line-height;
	padding: $main-line-vertical-padding 0px;
	width: 16px;
	font-size: 14px;
	font-weight: normal !important;
	@include justify-content(center);
	@include flex-shrink(0);
	@include display(flex);
	@include align-items(center);
	&.inline-left {
		margin-right: 2px;
	}
	overflow: hidden; //иногда иконки до загрузки вываливаются из контейнера
}

.icon-inline {
	//line-height: 1; //без этого иконки прыгают при загрузке
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-drag {
	position: absolute;
	left: 0px;
	width: 22px;
	cursor: grab;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	&:active {
		cursor: -webkit-grabbing; 
		cursor: -moz-grabbing;
	}
}

.icon-action {
	cursor: pointer;
	color: $ui-main-color;
	&:hover {
		color: $ui-main-color-hover;
	}
	&:active {
		color: $ui-main-color-active;
	}
}

.z-style-line-selected {
	.icon-action {
		color: $ui-line-selected-color;
		&:hover {
			color: $ui-main-color-night-hover;
		}
		&:active {
			color: $ui-main-color-night-active;
		}
	}
}

.z-style-modal-close {
	box-sizing: border-box;
	position: absolute;
	margin-left: auto;
	top: 0px;
	right: 0px;
	height: 70px;
	width: 70px;
	font-size: 36px;
	color: #fff;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

// Tags

.z-style-tag-wrapper {
	width: 16px;
}

.z-style-tag {
	@include transition-default;
	background-clip: content-box;
	border: 1px solid transparent;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.z-style-icon-bg {
	@include transition-default;
	background-clip: content-box;
	border: 1px solid transparent;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.z-style-icon-on-bg {
	color: $pl-white;
	font-size: 8px;
}

.z-style-bg-green {
	background-color: $pl-tag-green;
}

.z-style-bg-orange {
	background-color: $pl-tag-orange;
}

.z-style-bg-darkred {
	background-color: $pl-tag-darkred;
}

.z-style-color-green {
	color: $pl-tag-green;
}

.z-style-color-orange {
	color: $pl-tag-orange;
}

.z-style-color-darkred {
	color: $pl-tag-darkred;
}

// Common

.z_cls_icon_add:before {
	content: "\f067";
}

.z_cls_icon_delete:before {
	content: "\f00d";
}

.z_cls_icon_menu:before {
	content: "\f13a";
}

// UI

.z_cls_icon_drag:before {
	content: "\f142";
}

.z_cls_icon_unknown:before {
	content: "\f110";
}

.z_cls_icon_check:before {
	content: "\f00c";
}

.z_cls_icon_square_check:before {
	content: "\f046";
}

.z_cls_icon_square:before {
	content: "\f096";
}

.z_cls_icon_collapsed:before {
	content: "\f0da";
}

.z_cls_icon_expanded:before {
	content: "\f0d7";
}

.z_cls_icon_play:before {
	content: "\f04b";
}

.z_cls_icon_forward:before {
	content: "\f054";
}

.z_cls_icon_back:before {
	content: "\f053";
}

// Actions and Menus

.z_cls_icon_update:before {
	content: "\f021";
}

.z_cls_icon_watch:before {
	content: "\f06e";
}

.z_cls_icon_unwatch:before {
	content: "\f070";
}

.z_cls_icon_flag:before {
	content: "\f024";
}

.z_cls_icon_search:before {
	content: "\f002";
}

.z_cls_icon_user:before {
	content: "\f007";
}

.z_cls_icon_cloud_upload:before {
	content: "\f0ee";
}

.z_cls_icon_save:before {
	content: "\f0c7";
}

// Statuses

.z_cls_icon_warning:before {
	content: "\f071";
}

.z_cls_icon_attachment:before {
	content: "\f0c6";
}

// Channels

.z_cls_icon_web:before {
	content: "\f0c2";
}

.z_cls_icon_mail:before
{
	content: "\f003";
}

.z_cls_icon_im:before
{
	content: "\f0E6";
}

.z_cls_icon_mobile:before {
	content: "\f10b";
}

.z_cls_icon_screen:before {
	content: "\f086";
}

.z_cls_icon_clipboard:before {
	content: "\f0EA";
}

.z_cls_icon_device:before {
	content: "\f132";
}

.z_cls_icon_discovery:before {
	content: "\f0a0";
}

.z_cls_icon_ftp:before {
	content: "\f093";
}

// Other

.z_cls_icon_arrow_right:before{
	content: "\f178";
}

.z_cls_icon_close_modal:before {
	content: "\f00d";
}

.z_cls_icon_scissors:before {
	content: "\f0c4";
}